main
	.container
		.banner-slider-wrap
			.banner-slider
				.banner-slider__item.banner-slider__item_bg1
					.banner-slider__item-title
						h1  Контейнер для продуктов питания
						p Разнообразная тара для продуктов питания всегда кстати на каждой кухне!
						.banner-slider__item-butn-holder
							a.butn(href="#") категории
				.banner-slider__item.banner-slider__item_bg1
					.banner-slider__item-title
						h1  Контейнер для продуктов питания
						p Разнообразная тара для продуктов питания всегда кстати на каждой кухне!
						.banner-slider__item-butn-holder
							a.butn(href="#") категории
				.banner-slider__item.banner-slider__item_bg1
					.banner-slider__item-title
						h1  Контейнер для продуктов питания
						p Разнообразная тара для продуктов питания всегда кстати на каждой кухне!
						.banner-slider__item-butn-holder
							a.butn(href="#") категории
		section.categorys
			.row
				.col-xs-6.col-md-3
					a.category(href="#")
						.category__title Сад огород
						.category__img
							img(src='img/img-category1.png' alt='')
				.col-xs-6.col-md-3
					a.category(href="#")
						.category__title Кованные изделия 
						.category__img
							img(src='img/img-category2.png' alt='')
				.col-xs-6.col-md-3
					a.category(href="#")
						.category__title для дома
						.category__img
							img(src='img/img-category3.png' alt='')
				.col-xs-6.col-md-3
					a.category(href="#")
						.category__title для ванной
						.category__img
							img(src='img/img-category4.png' alt='')
				.col-xs-6.col-md-3
					a.category(href="#")
						.category__title для детей
						.category__img
							img(src='img/img-category5.png' alt='')
				.col-xs-6.col-md-3
					a.category(href="#")
						.category__title ведра
						.category__img
							img(src='img/img-category6.png' alt='')
				.col-xs-6.col-md-3
					a.category(href="#")
						.category__title миски
						.category__img
							img(src='img/img-category7.png' alt='')
				
		section.section.products
			.section__title 
				span Новинки
			.row
				.col-xs-6.col-lg-3
					.product
						a(href='#').product__link
							.product__title Контейнер "Мульти-бокс" (0,6л) КРУГЛИЙ "Ал-пластік" (60шт.)
							.product__img
								img(src="img/img-product1.png", alt="")
						.product__order
							.product__price
								.product__price-new 99999.99 грн.
								.product__price-old 99999.99 грн.
							.product__butn-holder
								a(href='#').butn Купить
				.col-xs-6.col-lg-3
					.product
						a(href='#').product__link
							.product__title Контейнер "Мульти-бокс" (0,6л) КРУГЛИЙ "Ал-пластік" (60шт.)
							.product__img
								img(src="img/img-product2.png", alt="")
						.product__order
							.product__price
								.product__price-new 99999.99 грн.
								.product__price-old 99999.99 грн.
							.product__butn-holder
								a(href='#').butn Купить
				.col-xs-6.col-lg-3
					.product
						a(href='#').product__link
							.product__title Контейнер "Мульти-бокс" (0,6л) КРУГЛИЙ "Ал-пластік" (60шт.)
							.product__img
								img(src="img/img-product3.png", alt="")
						.product__order
							.product__price
								.product__price-new 99999.99 грн.
								.product__price-old 99999.99 грн.
							.product__butn-holder
								a(href='#').butn Купить
				.col-xs-6.col-lg-3
					.product
						a(href='#').product__link
							.product__title Контейнер "Мульти-бокс" (0,6л) КРУГЛИЙ "Ал-пластік" (60шт.)
							.product__img
								img(src="img/img-product4.png", alt="")
						.product__order
							.product__price
								.product__price-new 99999.99 грн.
								.product__price-old 99999.99 грн.
							.product__butn-holder
								a(href='#').butn Купить
				
		
		section.section.products
			.section__title 
				span хиты продаж
			.row
				.col-xs-6.col-lg-3
					.product
						a(href='#').product__link
							.product__title Контейнер "Мульти-бокс" (0,6л) КРУГЛИЙ "Ал-пластік" (60шт.) Контейнер "Мульти-бокс" (0,6л) КРУГЛИЙ "Ал-пластік" (60шт.)
							.product__img
								img(src="img/img-product1.png", alt="")
						.product__order
							.product__price
								.product__price-new 99999.99 грн.
								.product__price-old 99999.99 грн.
							.product__butn-holder
								a(href='#').butn Купить
				.col-xs-6.col-lg-3
					.product
						a(href='#').product__link
							.product__title Контейнер "Мульти-бокс" (0,6л) КРУГЛИЙ "Ал-пластік" (60шт.)
							.product__img
								img(src="img/img-product2.png", alt="")
						.product__order
							.product__price
								.product__price-new 99999.99 грн.
								.product__price-old 99999.99 грн.
							.product__butn-holder
								a(href='#').butn Купить
				.col-xs-6.col-lg-3
					.product
						a(href='#').product__link
							.product__title Контейнер "Мульти-бокс" (0,6л) КРУГЛИЙ "Ал-пластік" (60шт.)
							.product__img
								img(src="img/img-product3.png", alt="")
						.product__order
							.product__price
								.product__price-new 99999.99 грн.
								.product__price-old 99999.99 грн.
							.product__butn-holder
								a(href='#').butn Купить
				.col-xs-6.col-lg-3
					.product
						a(href='#').product__link
							.product__title Контейнер "Мульти-бокс" (0,6л) КРУГЛИЙ "Ал-пластік" (60шт.)
							.product__img
								img(src="img/img-product4.png", alt="")
						.product__order
							.product__price
								.product__price-new 99999.99 грн.
								.product__price-old 99999.99 грн.
							.product__butn-holder
								a(href='#').butn Купить
				
		
