main
	.container
		ul.bread-crumb
			li 
				a(href="index.html") Главная
			li
				a.active(href="javascript:void(0)") Корзина
		.section__title 
			span Корзина
		
		.main-basket
			table
				thead.thead
					tr.tr
						th.th Изображение
						th.th Наименование товара
						th.th Количество, шт.
						th.th Цена, грн./шт.
						th.th Всего
						th.th
					
				tbody.tbody
					tr.tr-margin
						td
					tr.tr(data-elementid='1')
						td.td(data-name='Изображение')
							a.img.vobler.vobler_new(href='#')
								img(src='img/img-basket.png', alt='alt')
						td.td(data-name='Наименование')
							.val Контейнер "Мульти-бокс" (0,6л) КРУГЛИЙ "Ал-пластік"  (60шт.)
							.sub Код товара: 00000001187
						td.td(data-name='Количество, шт.')
							input(style="border: none; width: 100%;", type='number', value='1', min='1' max='99999')
						td.td(data-name='Цена, грн./шт.')
							.price 99999 грн.
						td.td(data-name='Всего')
							.price.price_bold 999999 грн.
						td.td
							a.inbasket__item-del.inbasket__item-del_main.jsBasketRemoveItem(href='#')
					tr.tr-margin
						td
					tr.tr(data-elementid='2')
						td.td(data-name='Изображение')
							a.img.vobler.vobler_new(href='#')
								img(src='img/img-basket.png', alt='alt')
						td.td(data-name='Наименование')
							.val Контейнер "Мульти-бокс" (0,6л) КРУГЛИЙ "Ал-пластік"  (60шт.)
							.sub Код товара: 00000001187
						td.td(data-name='Количество, шт.')
							input(style="border: none; width: 100%;", type='number', value='1', min='1' max='99999')
						td.td(data-name='Цена, грн./шт.')
							.price 999999 грн.
						td.td(data-name='Всего')
							.price.price_bold 999999 грн.
						td.td
							a.inbasket__item-del.inbasket__item-del_main.jsBasketRemoveItem(href='#')
					tr.tr-margin
						td
					tr.tr(data-elementid='3')
						td.td(data-name='Изображение')
							a.img.vobler.vobler_new(href='#')
								img(src='img/img-basket.png', alt='alt')
						td.td(data-name='Наименование')
							.val Контейнер "Мульти-бокс" (0,6л) КРУГЛИЙ "Ал-пластік"  (60шт.)
							.sub Код товара: 00000001187
						td.td(data-name='Количество, шт.')
							input(style="border: none; width: 100%;", type='number', value='1', min='1' max='99999')
						td.td(data-name='Цена, грн./шт.')
							.price 999999 грн.
						td.td(data-name='Всего')
							.price.price_bold 999999 грн.
						td.td
							a.inbasket__item-del.inbasket__item-del_main.jsBasketRemoveItem(href='#')
					tr.tr-margin
						td
					tr.tr(data-elementid='4')
						td.td(data-name='Изображение')
							a.img.vobler.vobler_new(href='#')
								img(src='img/img-basket.png', alt='alt')
						td.td(data-name='Наименование')
							.val Контейнер "Мульти-бокс" (0,6л) КРУГЛИЙ "Ал-пластік"  (60шт.)
							.sub Код товара: 00000001187
						td.td(data-name='Количество, шт.')
							input(style="border: none; width: 100%;", type='number', value='1', min='1' max='99999')
						td.td(data-name='Цена, грн./шт.')
							.price 999999 грн.
						td.td(data-name='Всего')
							.price.price_bold 999999 грн.
						td.td
							a.inbasket__item-del.inbasket__item-del_main.jsBasketRemoveItem(href='#')
		.inbasket__amount
			.inbasket__amount-item
				.inbasket__amount-price-approximate
					.text.text_font-size Предварительная стоимость
					.value.value_font-size 999999.00 грн.
			.inbasket__amount-item
				.inbasket__amount-price-final
					.text.text_font-size итого
					.value.value_font-size 999999.00 грн.
		.main-basket-buttons.clearfix
			a.butn.butn_grey(href="#") Продолжить покупки
			a.butn.pull-right(href="#") Оформить заказ
		.text
			.text__title Воспользуйтесь дополнительными возможностями
			p Если у вас есть код купона на скидку или бонусные баллы, которые вы хотите использовать, выберите соответствующий пункт.<br>  Также, можно (приблизительно) узнать стоимость доставки в ваш регион.
		.dropdown-box
			.dropdown-box__title.jsDropdownBoxToggle Использовать Купон на скидку 
			.dropdown-box__content
				.dropdown-box__hint Введите код купона
				.dropdown-box__single-input-row
					input.dropdown-box__input(type='text' placeholder='Код')
				button.butn(type='submit')  применить
			.dropdown-box__title.jsDropdownBoxToggle Использовать Подарочный Сертификат
			.dropdown-box__content
				.dropdown-box__hint Введите код сертификата
				.dropdown-box__single-input-row
					input.dropdown-box__input(type='text' placeholder='Код')
				button.butn(type='submit')  применить
			.dropdown-box__title.jsDropdownBoxToggle Узнать стоимость доставки 
			.dropdown-box__content
				.dropdown-box__explain Что бы узнать (приблизительную) стоимость доставки, укажите Ваш регион
				.row
					.col-md-4
						.dropdown-box__hint Страна
						select.dropdown-box__input
							option(value='Украина') Украина
							option(value='Белорусь') Белорусь
							option(value='Грузия') Грузия
							option(value='Казахстан') Казахстан
					.col-md-4
						.dropdown-box__hint Регион / Область
						select.dropdown-box__input
							option Миколаїв	
							option Маріуполь	
							option Вінниця
							option Херсон	
							option Полтава	
							option Чернігів
							option Черкаси
							option Житомир
							option Суми	
							option Хмельницький
							option Чернівці
					.col-md-4
						.dropdown-box__hint Индекс
						input.dropdown-box__input(type='text' placeholder='00000')
				.dropdown-box__button-holder
					button.butn(type='submit')  получить котировки
					
				
				
			
			
			
						
