main
    .container
        ul.bread-crumb
            li 
                a(href="index.html") Главная
            li
                a.active(href="javascript:void(0)") Регистрация
        .section__title 
            span Регистрация
        .row
            .col-md-3
                .category-list-title Опции
                    i.fa.fa-angle-down
                ul.category-list.category-list_blue-active
                    li.active
                        a(href="#") Личный кабинет 
                    li
                        a(href="#") Учетная запись 
                    li
                        a(href="#") Смена пароля
                    li
                        a(href="#") Адреса доставки
                    li
                        a(href="#") Мои закладки
                    li
                        a(href="#") История заказов
                    li
                        a(href="#") Файлы для скачивания
                    li
                        a(href="#") Периодические платежи 
                    li
                        a(href="#") Бонусные баллы 
                    li
                        a(href="#") Возврат товара 
                    li
                        a(href="#") История платежей 
                    li
                        a(href="#") Подписка на новости 
                    li
                        a(href="#") Выйти 
            .col-md-9
                .shadow-box.text.shadow-box_form
                    p Если Вы уже зарегистрированы, перейдите на страницу 
                        a(href="profile_autorization.html") авторизации
                        | .
                    form
                        .row
                            .col-md-6.shadow-box_form__item-left.shadow-box_form__item-left_no-line
                                .text__title  Основные данные
                                .input-row
                                    .dropdown-box__hint Имя *
                                    input.dropdown-box__input(type='text' name='name' placeholder='Иван' required)
                                .input-row
                                    .dropdown-box__hint Фамилия *
                                    input.dropdown-box__input(type='text' name='surname' placeholder='Иванов' required)
                                .input-row
                                    .dropdown-box__hint E-mail *
                                    input.dropdown-box__input(type='email' name='email' placeholder='mail@gmail.com' required)
                                .input-row
                                    .dropdown-box__hint Телефон *
                                    input.dropdown-box__input(type='tel' name='tel' placeholder='+ 0 000 00 00 00')
                                .input-row.input-row_margin-bottom-xl
                                    .dropdown-box__hint Факс
                                    input.dropdown-box__input(type='tel' name='tel' placeholder='+ 0 000 00 00 00')
                                .text__title  Ваш пароль
                                .input-row
                                    .dropdown-box__hint Пароль
                                    input.dropdown-box__input(type='password'  name='password' placeholder='Пароль')
                                .input-row.input-row_margin-bottom-xl
                                    .dropdown-box__hint Подтвердить проль *
                                    input.dropdown-box__input(type='password' name='password' placeholder='Пароль')
                            .col-md-6.shadow-box_form__item-right
                                .text__title Ваш адрес
                                .input-row
                                    .dropdown-box__hint Компания
                                    input.dropdown-box__input(type='text' name="company" placeholder='Компания')
                                .input-row
                                    .dropdown-box__hint Адрес *
                                    input.dropdown-box__input(type='text' name="adress" placeholder='Введите адрес' required)
                                .input-row
                                    .dropdown-box__hint Адрес (дополнительно)
                                    input.dropdown-box__input(type='text' name="adress2" placeholder='Введите адрес')
                                .input-row
                                    .dropdown-box__hint Город *
                                    input.dropdown-box__input(type='text' name="city" placeholder='Хмельницкий')
                                .input-row
                                    .dropdown-box__hint Индекс
                                    input.dropdown-box__input(type='text' name="index" placeholder='00000')
                                .input-row
                                    .dropdown-box__hint Страна*
                                    select.dropdown-box__input
                                        option(value='Украина') Украина
                                        option(value='Белорусь') Белорусь
                                        option(value='Грузия') Грузия
                                        option(value='Казахстан') Казахстан
                                .input-row
                                    .dropdown-box__hint Регион / Область *
                                    select.dropdown-box__input
                                        option(value='Миколаїв') Миколаїв	
                                        option(value='Миколаїв') Маріуполь	
                                        option(value='Миколаїв') Вінниця
                                        option(value='Миколаїв') Херсон	
                                        option(value='Миколаїв') Полтава	
                                        option(value='Миколаїв') Чернігів
                                        option(value='Миколаїв') Черкаси
                                        option(value='Миколаїв') Житомир
                                        option(value='Миколаїв') Суми	
                                        option(value='Миколаїв') Хмельницький
                                        option(value='Миколаїв') Чернівці
                            .col-md-12.clearfix.shadow-box_form__submit-wrap
                                .text__title Подписка на новости
                                .input-row-radio.pull-left
                                    .dropdown-box__hint Подписаться:
                                    label.label-radio
                                        input(type='radio', name='news', value='yes')
                                        |  Да
                                    label.label-radio
                                        input(type='radio', name='news', value='no' checked)
                                        |  Нет
                                a.butn.pull-right(href='#') Продолжить
                                    
                            
