main
	.container
		ul.bread-crumb
			li 
				a(href="index.html") Главная
			li
				a.active(href="javascript:void(0)") блог
		.section__title 
			span блог
		
		.row.blog-item
			.col-md-3.blog-item__img
				img(src='img/img-blog1.png' alt='')
			.col-md-9.blog-item__content
				.blog-item__title
					a(href="#") Воспользуйтесь дополнительными возможностями
				.blog-item__date Август 17, 02017
				.blog-item__text Если у вас есть код купона на скидку или бонусные баллы, которые вы хотите использовать, выберите соответствующий пункт.  Также, можно (приблизительно) узнать стоимость доставки в ваш регион. Пластиковая посуда производят с использованием высококачественного сырья, включающий комбинацию полиэтилена низкого ...
		.row.blog-item
			.col-md-3.blog-item__img
				img(src='img/img-blog1.png' alt='')
			.col-md-9.blog-item__content
				.blog-item__title
					a(href="#") Воспользуйтесь дополнительными возможностями
				.blog-item__date Август 17, 02017
				.blog-item__text Если у вас есть код купона на скидку или бонусные баллы, которые вы хотите использовать, выберите соответствующий пункт.  Также, можно (приблизительно) узнать стоимость доставки в ваш регион. Пластиковая посуда производят с использованием высококачественного сырья, включающий комбинацию полиэтилена низкого ...
		.row.blog-item
			.col-md-3.blog-item__img
				img(src='img/img-blog1.png' alt='')
			.col-md-9.blog-item__content
				.blog-item__title
					a(href="#") Воспользуйтесь дополнительными возможностями
				.blog-item__date Август 17, 02017
				.blog-item__text Если у вас есть код купона на скидку или бонусные баллы, которые вы хотите использовать, выберите соответствующий пункт.  Также, можно (приблизительно) узнать стоимость доставки в ваш регион. Пластиковая посуда производят с использованием высококачественного сырья, включающий комбинацию полиэтилена низкого ...
		.row.blog-item
			.col-md-3.blog-item__img
				img(src='img/img-blog1.png' alt='')
			.col-md-9.blog-item__content
				.blog-item__title
					a(href="#") Воспользуйтесь дополнительными возможностями
				.blog-item__date Август 17, 02017
				.blog-item__text Если у вас есть код купона на скидку или бонусные баллы, которые вы хотите использовать, выберите соответствующий пункт.  Также, можно (приблизительно) узнать стоимость доставки в ваш регион. Пластиковая посуда производят с использованием высококачественного сырья, включающий комбинацию полиэтилена низкого ...
		.row.blog-item
			.col-md-3.blog-item__img
				img(src='img/img-blog1.png' alt='')
			.col-md-9.blog-item__content
				.blog-item__title
					a(href="#") Воспользуйтесь дополнительными возможностями
				.blog-item__date Август 17, 02017
				.blog-item__text Если у вас есть код купона на скидку или бонусные баллы, которые вы хотите использовать, выберите соответствующий пункт.  Также, можно (приблизительно) узнать стоимость доставки в ваш регион. Пластиковая посуда производят с использованием высококачественного сырья, включающий комбинацию полиэтилена низкого ...
		.row.blog-item
			.col-md-3.blog-item__img
				img(src='img/img-blog1.png' alt='')
			.col-md-9.blog-item__content
				.blog-item__title
					a(href="#") Воспользуйтесь дополнительными возможностями
				.blog-item__date Август 17, 02017
				.blog-item__text Если у вас есть код купона на скидку или бонусные баллы, которые вы хотите использовать, выберите соответствующий пункт.  Также, можно (приблизительно) узнать стоимость доставки в ваш регион. Пластиковая посуда производят с использованием высококачественного сырья, включающий комбинацию полиэтилена низкого ...
				
		
