main
	.container
		ul.bread-crumb
			li 
				a(href="index.html") Главная
			li
				a.active(href="javascript:void(0)") отзывы
		.section__title 
			span отзывы
		.testemonial
			.testemonial__text Пластиковая посуда используется как емкость для потребления, приготовления, временного хранения пищи. Используется также для мытья различных продуктов питания, их обработки, а также при сервировке стола, на дачах, в дороге, походах и др. Пластиковая посуда производят с использованием высококачественного сырья, включающий комбинацию полиэтилена низкого давления, полипропилена или полистирола с красителями и модифицированными добавками, которые придают изделиям 
			.testemonial__title
				.testemonial__autor Ирина
				.testemonial__date Август 17, 02017
		.testemonial
			.testemonial__text Пластиковая посуда используется как емкость для потребления, приготовления, временного хранения пищи. Используется также для мытья различных продуктов питания, их обработки, а также при сервировке стола, на дачах, в дороге, походах и др. Пластиковая посуда производят с использованием высококачественного сырья, включающий комбинацию полиэтилена низкого давления, полипропилена или полистирола с красителями и модифицированными добавками, которые придают изделиям 
			.testemonial__title
				.testemonial__autor Ирина
				.testemonial__date Август 17, 02017
		.testemonial
			.testemonial__text Пластиковая посуда используется как емкость для потребления, приготовления, временного хранения пищи. Используется также для мытья различных продуктов питания, их обработки, а также при сервировке стола, на дачах, в дороге, походах и др. Пластиковая посуда производят с использованием высококачественного сырья, включающий комбинацию полиэтилена низкого давления, полипропилена или полистирола с красителями и модифицированными добавками, которые придают изделиям 
			.testemonial__title
				.testemonial__autor Ирина
				.testemonial__date Август 17, 02017
		.testemonial
			.testemonial__text Пластиковая посуда используется как емкость для потребления, приготовления, временного хранения пищи. Используется также для мытья различных продуктов питания, их обработки, а также при сервировке стола, на дачах, в дороге, походах и др. Пластиковая посуда производят с использованием высококачественного сырья, включающий комбинацию полиэтилена низкого давления, полипропилена или полистирола с красителями и модифицированными добавками, которые придают изделиям 
			.testemonial__title
				.testemonial__autor Ирина
				.testemonial__date Август 17, 02017
		.testemonial
			.testemonial__text Пластиковая посуда используется как емкость для потребления, приготовления, временного хранения пищи. Используется также для мытья различных продуктов питания, их обработки, а также при сервировке стола, на дачах, в дороге, походах и др. Пластиковая посуда производят с использованием высококачественного сырья, включающий комбинацию полиэтилена низкого давления, полипропилена или полистирола с красителями и модифицированными добавками, которые придают изделиям 
			.testemonial__title
				.testemonial__autor Ирина
				.testemonial__date Август 17, 02017
		.testemonial
			.testemonial__text Пластиковая посуда используется как емкость для потребления, приготовления, временного хранения пищи. Используется также для мытья различных продуктов питания, их обработки, а также при сервировке стола, на дачах, в дороге, походах и др. Пластиковая посуда производят с использованием высококачественного сырья, включающий комбинацию полиэтилена низкого давления, полипропилена или полистирола с красителями и модифицированными добавками, которые придают изделиям 
			.testemonial__title
				.testemonial__autor Ирина
				.testemonial__date Август 17, 02017
