main
	.container
		ul.bread-crumb
			li 
				a(href="index.html") Главная
			li 
				a(href="category.html") Категории
			li
				a.active(href="javascript:void(0)") Ал-пластик
		.row
			.col-md-3
				.category-list-title Категории
					i.fa.fa-angle-down
				ul.category-list
					li
						a(href='#') Евро голд (37)
					li
						a(href='#') А - плюс (43)
					li.active
						a(href='#') Айс (11)
					li
						a(href='#') Ал-пластик (66)
					li
						a(href='#') АЛЕАНА Вазоны (79)
					li
						a(href='#') АЛЕАНА пластмасса (96)
					li
						a(href='#') Альтернатива (33)
					li
						a(href='#') АМА (58)
					li
						a(href='#') АРТГОСП (11)
					li
						a(href='#') Валентино (4)
					li
						a(href='#') Вест (пл) (61)
					li
						a(href='#') Вест (вз) (21)
					li
						a(href='#') Выпечка (Пол) (10)
					li
						a(href='#') Выпечка (Укр.) (8)
					li
						a(href='#') Горизонт (86)
					li
						a(href='#') Хозяин (15)
					li
						a(href='#') Запад (8)
					li
						a(href='#') Западная гроза (182)
					li
						a(href='#') Цветники (4)
					li
						a(href='#') Китай (19)
					li
						a(href='#') Кламер коврики-микрофибра (5)
					li
						a(href='#') Хозтовары (19)
					li
						a(href='#') Хозтовары Запад (62)
					li
						a(href='#') Ли - Пласт (12)
					li
						a(href='#') Ламела (84)
					li
						a(href='#') Мешки (1)
					li
						a(href='#') ММ вазоны (35)
					li
						a(href='#') ММ-пластмасса (33)
					li
						a(href='#') Мочалка (31)
					li
						a(href='#') Народный продукт (42)
					li
						a(href='#') Пастерський (69)
					li
						a(href='#') Пласт (49)
					li
						a(href='#') Пласт-Хаус (15)
					li
						a(href='#') Пластмассовая посуда (17)
					li
						a(href='#') Полимерные изделия (62)
					li
						a(href='#') Польша (70)
					li
						a(href='#') Россо (27)
					li
						a(href='#') Садко (14)
					li
						a(href='#') Скатерть (15)
					li
						a(href='#') Скотч (0)
					li
						a(href='#') Стенсон (128)
					li
						a(href='#') Стерк - Иран пластик (1)
					li
						a(href='#') Термос (5)
					li
						a(href='#') Томбо (0)
					li
						a(href='#') Турция (95)
					li
						a(href='#') Венгрия (32)
					li
						a(href='#') Украина (74)
					li
						a(href='#') Хром (24)
					li
						a(href='#') Чистый дом (4)
			.col-md-9
				section.categorys.categorys_mt-on-mob
					.section__title 
						span Ал-пластик
					.row
						.col-xs-6.col-md-4
							a.category(href="#")
								.category__title Сад огород
								.category__img
									img(src='img/img-category1.png' alt='')
						.col-xs-6.col-md-4
							a.category(href="#")
								.category__title Кованные изделия 
								.category__img
									img(src='img/img-category2.png' alt='')
						.col-xs-6.col-md-4
							a.category(href="#")
								.category__title для дома
								.category__img
									img(src='img/img-category3.png' alt='')
						.col-xs-6.col-md-4
							a.category(href="#")
								.category__title для ванной
								.category__img
									img(src='img/img-category4.png' alt='')
						.col-xs-6.col-md-4
							a.category(href="#")
								.category__title для детей
								.category__img
									img(src='img/img-category5.png' alt='')
						.col-xs-6.col-md-4
							a.category(href="#")
								.category__title ведра
								.category__img
									img(src='img/img-category6.png' alt='')
						.col-xs-6.col-md-4
							a.category(href="#")
								.category__title миски
								.category__img
									img(src='img/img-category7.png' alt='')
				.filter-wrap
					.switcher-holder
						.switcher-title Сортировать:
						.switcher.switcher_filter
							p По умолчанию
							ul.switcher__dropdown
								li
									a(href='#') По умолчанию
								li
									a(href='#') По умолчанию
								li
									a(href='#') По умолчанию
					.switcher-holder
						.switcher-title Сортировать:
						.switcher.switcher_filter.switcher_filter_z-index
							p 15
							ul.switcher__dropdown
								li
									a(href='#') 20
								li
									a(href='#') 50
								li
									a(href='#') 100
				section.section.products
					.row
						.col-xs-6.col-lg-4
							.product.product_with-slider.vobler.vobler_new
								a(href='#').product__title Контейнер "Мульти-бокс" (0,6л) КРУГЛИЙ "Ал-пластік" (60шт.)
								.product__img
									.product__img-slider
										a(href='#').product__img-slider-item
											img(src="img/img-product1.png", alt="")
										a(href='#').product__img-slider-item
											img(src="img/img-product1.png", alt="")
										a(href='#').product__img-slider-item
											img(src="img/img-product1.png", alt="")
								.product__order
									.product__price
										.product__price-new 99999.99 грн.
										.product__price-old 99999.99 грн.
									.product__butn-holder
										a(href='#').butn Купить
						.col-xs-6.col-lg-4
							.product.product_with-slider.vobler.vobler_hit
								a(href='#').product__title Контейнер "Мульти-бокс" (0,6л) КРУГЛИЙ "Ал-пластік" (60шт.)
								.product__img
									.product__img-slider
										a(href='#').product__img-slider-item
											img(src="img/img-product1.png", alt="")
										a(href='#').product__img-slider-item
											img(src="img/img-product1.png", alt="")
										a(href='#').product__img-slider-item
											img(src="img/img-product1.png", alt="")
								.product__order
									.product__price
										.product__price-new 99999.99 грн.
										.product__price-old 99999.99 грн.
									.product__butn-holder
										a(href='#').butn Купить
						.col-xs-6.col-lg-4
							.product.product_with-slider.vobler.vobler_sale
								a(href='#').product__title Контейнер "Мульти-бокс" (0,6л) КРУГЛИЙ "Ал-пластік" (60шт.)
								.product__img
									.product__img-slider
										a(href='#').product__img-slider-item
											img(src="img/img-product1.png", alt="")
										a(href='#').product__img-slider-item
											img(src="img/img-product1.png", alt="")
										a(href='#').product__img-slider-item
											img(src="img/img-product1.png", alt="")
								.product__order
									.product__price
										.product__price-new 99999.99 грн.
										.product__price-old 99999.99 грн.
									.product__butn-holder
										a(href='#').butn Купить
						.col-xs-6.col-lg-4
							.product.product_with-slider
								a(href='#').product__title Контейнер "Мульти-бокс" (0,6л) КРУГЛИЙ "Ал-пластік" (60шт.)
								.product__img
									.product__img-slider
										a(href='#').product__img-slider-item
											img(src="img/img-product1.png", alt="")
										a(href='#').product__img-slider-item
											img(src="img/img-product1.png", alt="")
										a(href='#').product__img-slider-item
											img(src="img/img-product1.png", alt="")
								.product__order
									.product__price
										.product__price-new 99999.99 грн.
										.product__price-old 99999.99 грн.
									.product__butn-holder
										a(href='#').butn Купить
						.col-xs-6.col-lg-4
							.product.product_with-slider
								a(href='#').product__title Контейнер "Мульти-бокс" (0,6л) КРУГЛИЙ "Ал-пластік" (60шт.)
								.product__img
									.product__img-slider
										a(href='#').product__img-slider-item
											img(src="img/img-product1.png", alt="")
										a(href='#').product__img-slider-item
											img(src="img/img-product1.png", alt="")
										a(href='#').product__img-slider-item
											img(src="img/img-product1.png", alt="")
								.product__order
									.product__price
										.product__price-new 99999.99 грн.
										.product__price-old 99999.99 грн.
									.product__butn-holder
										a(href='#').butn Купить
						.col-xs-6.col-lg-4
							.product.product_with-slider
								a(href='#').product__title Контейнер "Мульти-бокс" (0,6л) КРУГЛИЙ "Ал-пластік" (60шт.)
								.product__img
									.product__img-slider
										a(href='#').product__img-slider-item
											img(src="img/img-product1.png", alt="")
										a(href='#').product__img-slider-item
											img(src="img/img-product1.png", alt="")
										a(href='#').product__img-slider-item
											img(src="img/img-product1.png", alt="")
								.product__order
									.product__price
										.product__price-new 99999.99 грн.
										.product__price-old 99999.99 грн.
									.product__butn-holder
										a(href='#').butn Купить
						.col-xs-6.col-lg-4
							.product.product_with-slider
								a(href='#').product__title Контейнер "Мульти-бокс" (0,6л) КРУГЛИЙ "Ал-пластік" (60шт.)
								.product__img
									.product__img-slider
										a(href='#').product__img-slider-item
											img(src="img/img-product1.png", alt="")
										a(href='#').product__img-slider-item
											img(src="img/img-product1.png", alt="")
										a(href='#').product__img-slider-item
											img(src="img/img-product1.png", alt="")
								.product__order
									.product__price
										.product__price-new 99999.99 грн.
										.product__price-old 99999.99 грн.
									.product__butn-holder
										a(href='#').butn Купить
						.col-xs-6.col-lg-4
							.product.product_with-slider
								a(href='#').product__title Контейнер "Мульти-бокс" (0,6л) КРУГЛИЙ "Ал-пластік" (60шт.)
								.product__img
									.product__img-slider
										a(href='#').product__img-slider-item
											img(src="img/img-product1.png", alt="")
										a(href='#').product__img-slider-item
											img(src="img/img-product1.png", alt="")
										a(href='#').product__img-slider-item
											img(src="img/img-product1.png", alt="")
								.product__order
									.product__price
										.product__price-new 99999.99 грн.
										.product__price-old 99999.99 грн.
									.product__butn-holder
										a(href='#').butn Купить
						.col-xs-6.col-lg-4
							.product.product_with-slider
								a(href='#').product__title Контейнер "Мульти-бокс" (0,6л) КРУГЛИЙ "Ал-пластік" (60шт.)
								.product__img
									.product__img-slider
										a(href='#').product__img-slider-item
											img(src="img/img-product1.png", alt="")
										a(href='#').product__img-slider-item
											img(src="img/img-product1.png", alt="")
										a(href='#').product__img-slider-item
											img(src="img/img-product1.png", alt="")
								.product__order
									.product__price
										.product__price-new 99999.99 грн.
										.product__price-old 99999.99 грн.
									.product__butn-holder
										a(href='#').butn Купить
				.page-pagination.clearfix
					ul
						li
							a(href='#')
								i.fa.fa-angle-double-left
						li
							a(href='#') 1
						li
							a(href='#') 2
						li
							a(href='#') ...
						li
							a(href='#') 999
						li
							a(href='#')
								i.fa.fa-angle-double-right
					p Показано с 1 по 15 из 66 (всего 5 страниц)
				.text
					p Пластиковая посуда используется как емкость для потребления, приготовления, временного хранения пищи. Используется также для мытья различных продуктов питания, их обработки, а также при сервировке стола, на дачах, в дороге, походах и др.
					p Пластиковая посуда производят с использованием высококачественного сырья, включающий комбинацию полиэтилена низкого давления, полипропилена или полистирола с красителями и модифицированными добавками, которые придают изделиям необходимые цвета и оттенки, а также яркий, эстетически привлекательный внешний вид и хорошие эксплуатационные характеристики. икористовується також для миття різних продуктів харчування, їх обробки, а також при сервіровці столу, на дачах, у дорозі, походах та ін.
