main
    .container
        ul.bread-crumb
            li 
                a(href="index.html") Главная
            li
                a.active(href="javascript:void(0)") оформление заказа
        .section__title 
            span оформление заказа
        .dropdown-box
            .dropdown-box__title.jsDropdownBoxToggle.open
                span.c-blue Шаг 1  /
                |  Способ оформления заказа
            .dropdown-box__content.open
                .row.eq-wrap
                    .col-md-6.shadow-box_form__item-left.eq-item
                        .text__title  Новый пользователь
                        p Регистрация
                        p Создание учетной записи поможет делать следующие покупки быстрее (не надо будет снова вводить адрес и контактную информацию), видеть состояние заказа, а также видеть заказы, сделанные ранее. Вы также сможете накапливать при покупках призовые баллы (на них тоже можно что-то купить), а постоянным покупателям мы предлагаем систему скидок.
                        a.butn(href='#') Продолжить
                    .col-md-6.shadow-box_form__item-right.eq-item
                        .text__title я уже зарегистрирован
                        p Авторизация
                        .dropdown-box__hint E-mail
                        .input-row
                            input.dropdown-box__input(type='email' placeholder='mail@gmail.com')
                        .dropdown-box__hint Пароль
                        .input-row
                            input.dropdown-box__input(type='password' placeholder='Пароль')
                        .input-row
                            a.foget-pass(href="#") Забыли пароль?
                        a.butn(href='#') Войти
            .dropdown-box__title.jsDropdownBoxToggle 
                span.c-blue Шаг 2  /
                |   Платежная информация
            .dropdown-box__content
                | Some  text
            .dropdown-box__title.jsDropdownBoxToggle 
                span.c-blue Шаг 3  /
                |   Адрес доставки
            .dropdown-box__content
                .input-row-radio.input-row-radio-mb
                    label.label-radio
                        input(type='radio', name='adress', value='old' checked)
                        |   Использовать существующий адрес
                .input-row-radio.input-row-radio-mb
                    select.dropdown-box__input
                        option(value="Иван Иванов, г. Хмельницкий, ул. Проскуровская, 21, Хмельницкий, Украина") Иван Иванов, г. Хмельницкий, ул. Проскуровская, 21, Хмельницкий, Украина
                        option(value="Иван Иванов, г. Хмельницкий, ул. Проскуровская, 21, Хмельницкий, Украина") Иван Иванов, г. Хмельницкий, ул. Проскуровская, 21, Хмельницкий, Украина
                        option(value="Иван Иванов, г. Хмельницкий, ул. Проскуровская, 21, Хмельницкий, Украина") Иван Иванов, г. Хмельницкий, ул. Проскуровская, 21, Хмельницкий, Украина
                        option(value="Иван Иванов, г. Хмельницкий, ул. Проскуровская, 21, Хмельницкий, Украина") Иван Иванов, г. Хмельницкий, ул. Проскуровская, 21, Хмельницкий, Украина
                .input-row-radio.clearfix
                    .pull-left
                        label.label-radio
                            input(type='radio', name='adress', value='new' )
                            |  Я хочу использовать новый адрес
                    a.butn.pull-right(href='#') Продолжить
            .dropdown-box__title.jsDropdownBoxToggle 
                span.c-blue Шаг 4  /
                |   Способ доставки
            .dropdown-box__content
                p Выберите удобный способ доставки для этого заказа:
                p 
                    b  Доставка договорная
                label.label-radio
                    input(type='checkbox', name='deliver', value='negotiable' checked )
                    |  Доставка обговаривается с покупателем индивидуально
                .dropdown-box__hint Вы можете добавить комментарий к своему заказу:
                textarea.dropdown-box__input
                .text-right   
                    a.butn(href='#') Продолжить
                
                
            .dropdown-box__title.jsDropdownBoxToggle 
                span.c-blue Шаг 5  /
                |   Способ оплаты
            .dropdown-box__content
            
                p Выберите удобный способ доставки для этого заказа:
                p 
                    b  Оплата договорная
                label.label-radio
                    input(type='checkbox', name='deliver', value='negotiable' checked )
                    |  Доставка обговаривается с покупателем индивидуально
                .dropdown-box__hint Вы можете добавить комментарий к своему заказу:
                textarea.dropdown-box__input
                .text-right   
                    a.butn(href='#') Продолжить
            .dropdown-box__title.jsDropdownBoxToggle 
                span.c-blue Шаг 6  /
                |    Подтверждение заказа
            .dropdown-box__content
                .main-basket
                    table
                        thead.thead
                            tr.tr
                                th.th Наименование товара
                                th.th Количество, шт.
                                th.th Цена, грн./шт.
                                th.th Всего
                        tbody.tbody
                            tr.tr-margin
                                td
                            tr.tr(data-elementid='1')
                                td.td(data-name='Наименование')
                                    .val Контейнер "Мульти-бокс" (0,6л) КРУГЛИЙ "Ал-пластік"  (60шт.)
                                    .sub Код товара: 00000001187
                                td.td(data-name='Количество, шт.')
                                    input(style='border: none; width: 100%;', type='number', value='1', min='1', max='99999')
                                td.td(data-name='Цена, грн./шт.')
                                    .price 99999 грн.
                                td.td(data-name='Всего')
                                    .price.price_bold 99999 грн.
                            tr.tr-margin
                                td
                            tr.tr(data-elementid='1')
                                td.td(data-name='Наименование')
                                    .val Контейнер "Мульти-бокс" (0,6л) КРУГЛИЙ "Ал-пластік"  (60шт.)
                                    .sub Код товара: 00000001187
                                td.td(data-name='Количество, шт.')
                                    input(style='border: none; width: 100%;', type='number', value='1', min='1', max='99999')
                                td.td(data-name='Цена, грн./шт.')
                                    .price 99999 грн.
                                td.td(data-name='Всего')
                                    .price.price_bold 99999 грн.
                .inbasket__amount
                    .inbasket__amount-item
                        .inbasket__amount-price-approximate
                            .text.text_font-size Предварительная стоимость
                            .value.value_font-size 999999.00 грн.
                    .inbasket__amount-item
                        .inbasket__amount-price-approximate
                            .text.text_font-size Доставка обговаривается с покупателем индивидуально
                            .value.value_font-size 999999.00 грн.
                    .inbasket__amount-item
                        .inbasket__amount-price-final
                            .text.text_font-size итого
                            .value.value_font-size 999999.00 грн.
                .main-basket-buttons.clearfix
                    a.butn.pull-right(href='#') подтверждение заказа
