main
	.container
		ul.bread-crumb
			li 
				a(href="index.html") Главная
			li 
				a(href="category.html") Категории
			li 
				a(href="#") Ал-пластик
			li
				a.active(href="javascript:void(0)") Горшок "Супер -люкс Ал-пластік"
		.section__title 
			span Горшок "Супер -люкс Ал-пластік"
		.row
			.col-xs-12.col-md-6.col-lg-5.sliders-wrap
				.product-slider-wrap
					.product-slider.vobler.vobler_sale
						.product-slider__item
							.product-slider__img
								img(src='img/img-prod-card1.png' alt='')
						.product-slider__item
							.product-slider__img
								img(src='img/img-prod-card2.png' alt='')
						.product-slider__item
							.product-slider__img
								img(src='img/img-prod-card3.png' alt='')
						.product-slider__item
							.product-slider__img
								img(src='img/img-prod-card2.png' alt='')
						.product-slider__item
							.product-slider__img
								img(src='img/img-prod-card3.png' alt='')
				.product-slider-nav-wrap
					.product-slider-nav
						.product-slider-nav__item
							.product-slider-nav__img
								img(src='img/img-prod-card1.png' alt='')
						.product-slider-nav__item
							.product-slider-nav__img
								img(src='img/img-prod-card2.png' alt='')
						.product-slider-nav__item
							.product-slider-nav__img
								img(src='img/img-prod-card3.png' alt='')
						.product-slider-nav__item
							.product-slider-nav__img
								img(src='img/img-prod-card2.png' alt='')
						.product-slider-nav__item
							.product-slider-nav__img
								img(src='img/img-prod-card3.png' alt='')
			.col-xs-12.col-md-6.col-lg-7
				.product-descripion
					.product-descripion__id Код товара: 00000001187
					.product-descripion__id  Доступность: <span class='green'>На складе</span>
					.product-descripion__order.clearfix
						.product-descripion__price
							.product-descripion__old-price 400 грн.
							.product-descripion__current-price 300 грн.
						a(href='#').butn  купить
					.product-descripion__parametrs.text
						p Пластиковая посуда используется как емкость для потребления, приготовления, временного хранения пищи. Используется также для мытья различных продуктов питания, их обработки, а также при сервировке стола, на дачах, в дороге, походах и др.  Пластиковая посуда производят с использованием высококачественного сырья, включающий комбинацию полиэтилена низкого давления, полипропилена или полистирола с красителями и модифицированными добавками, которые придают изделиям необходимые цвета и оттенки, а также яркий, эстетически привлекательный внешний вид и хорошие...
						p Пластиковая посуда используется как емкость для потребления, приготовления, временного хранения пищи. Используется также для мытья различных продуктов питания, их обработки, а также при сервировке стола, на дачах, в дороге, походах и др.  Пластиковая посуда производят с использованием высококачественного сырья, включающий комбинацию полиэтилена низкого давления, полипропилена или полистирола с красителями и модифицированными добавками, которые придают изделиям необходимые цвета и оттенки, а также яркий, эстетически привлекательный внешний вид и хорошие...
					
		
		section.section.products
			.section__title 
				span Дополнительные товары
			.row
				.col-xs-6.col-lg-3
					.product
						a(href='#').product__link
							.product__title Контейнер "Мульти-бокс" (0,6л) КРУГЛИЙ "Ал-пластік" (60шт.) Контейнер "Мульти-бокс" (0,6л) КРУГЛИЙ "Ал-пластік" (60шт.)
							.product__img
								img(src="img/img-product1.png", alt="")
						.product__order
							.product__price
								.product__price-new 99999.99 грн.
								.product__price-old 99999.99 грн.
							.product__butn-holder
								a(href='#').butn Купить
				.col-xs-6.col-lg-3
					.product
						a(href='#').product__link
							.product__title Контейнер "Мульти-бокс" (0,6л) КРУГЛИЙ "Ал-пластік" (60шт.)
							.product__img
								img(src="img/img-product2.png", alt="")
						.product__order
							.product__price
								.product__price-new 99999.99 грн.
								.product__price-old 99999.99 грн.
							.product__butn-holder
								a(href='#').butn Купить
				.col-xs-6.col-lg-3
					.product
						a(href='#').product__link
							.product__title Контейнер "Мульти-бокс" (0,6л) КРУГЛИЙ "Ал-пластік" (60шт.)
							.product__img
								img(src="img/img-product3.png", alt="")
						.product__order
							.product__price
								.product__price-new 99999.99 грн.
								.product__price-old 99999.99 грн.
							.product__butn-holder
								a(href='#').butn Купить
				.col-xs-6.col-lg-3
					.product
						a(href='#').product__link
							.product__title Контейнер "Мульти-бокс" (0,6л) КРУГЛИЙ "Ал-пластік" (60шт.)
							.product__img
								img(src="img/img-product4.png", alt="")
						.product__order
							.product__price
								.product__price-new 99999.99 грн.
								.product__price-old 99999.99 грн.
							.product__butn-holder
								a(href='#').butn Купить	
			
	
