main
    .container
        ul.bread-crumb
            li 
                a(href="index.html") Главная
            li
                a.active(href="javascript:void(0)") Личный кабинет
        .section__title 
            span личный кабинет
        .row
            .col-md-3
                .category-list-title Опции
                    i.fa.fa-angle-down
                ul.category-list.category-list_blue-active
                    li.active
                        a(href="#") Личный кабинет 
                    li
                        a(href="#") Учетная запись 
                    li
                        a(href="#") Смена пароля
                    li
                        a(href="#") Адреса доставки
                    li
                        a(href="#") Мои закладки
                    li
                        a(href="#") История заказов
                    li
                        a(href="#") Файлы для скачивания
                    li
                        a(href="#") Периодические платежи 
                    li
                        a(href="#") Бонусные баллы 
                    li
                        a(href="#") Возврат товара 
                    li
                        a(href="#") История платежей 
                    li
                        a(href="#") Подписка на новости 
                    li
                        a(href="#") Выйти 
            .col-md-9
                .shadow-box.text
                    p Редактируйте свои личные дланные, что улучшит нашу с Вами коммуникацию.
                    .text__title  Моя учетная запись
                    ul
                        li
                            a(href='#') Основные данные
                        li
                            a(href='#')  Изменить свой пароль
                        li
                            a(href='#')  Изменить мои адреса 
                        li
                            a(href='#') Изменить закладки
                    .text__title  Мои заказы
                    ul
                        li
                            a(href="#") История заказов
                        li
                            a(href="#")  Файлы для скачивания
                        li
                            a(href="#")  Бонусные баллы 
                        li
                            a(href="#") Заявки на возврат 
                        li
                            a(href="#") История платежей 
                        li
                            a(href="#") Регулярные платежи
                    .text__title Подписка
                    ul
                        li
                            a(href="#") Редактировать подписку
