main
    .container
        ul.bread-crumb
            li 
                a(href="index.html") Главная
            li
                a.active(href="javascript:void(0)") Авторизация
        .section__title 
            span Авторизация
        .row
            .col-md-3
                .category-list-title Опции
                    i.fa.fa-angle-down
                ul.category-list.category-list_blue-active
                    li.active
                        a(href="#") Личный кабинет 
                    li
                        a(href="#") Учетная запись 
                    li
                        a(href="#") Смена пароля
                    li
                        a(href="#") Адреса доставки
                    li
                        a(href="#") Мои закладки
                    li
                        a(href="#") История заказов
                    li
                        a(href="#") Файлы для скачивания
                    li
                        a(href="#") Периодические платежи 
                    li
                        a(href="#") Бонусные баллы 
                    li
                        a(href="#") Возврат товара 
                    li
                        a(href="#") История платежей 
                    li
                        a(href="#") Подписка на новости 
                    li
                        a(href="#") Выйти 
            .col-md-9
                .shadow-box.text.shadow-box_form
                    .row
                        .col-md-6.shadow-box_form__item-left
                            .text__title  Новый пользователь
                            p Регистрация
                            p Создание учетной записи поможет делать следующие покупки быстрее (не надо будет снова вводить адрес и контактную информацию), видеть состояние заказа, а также видеть заказы, сделанные ранее. Вы также сможете накапливать при покупках призовые баллы (на них тоже можно что-то купить), а постоянным покупателям мы предлагаем систему скидок.
                            a.butn(href='#') Продолжить
                        .col-md-6.shadow-box_form__item-right
                            .text__title я уже зарегистрирован
                            p Авторизация
                            .dropdown-box__hint E-mail
                            .input-row
                                input.dropdown-box__input(type='email' placeholder='mail@gmail.com')
                            .dropdown-box__hint Пароль
                            .input-row
                                input.dropdown-box__input(type='password' placeholder='Пароль')
                            .input-row
                                a.foget-pass(href="#") Забыли пароль?
                            a.butn(href='#') Войти
                                    
                            
