main
	.container
		ul.bread-crumb
			li 
				a(href="index.html") Главная
			
			li
				a.active(href="javascript:void(0)") О нас
		.text
			img(src="img/img-about.png", alt="")
			p Пластиковая посуда используется как емкость для потребления, приготовления, временного хранения пищи. Используется также для мытья различных продуктов питания, их обработки, а также при сервировке стола, на дачах, в дороге, походах и др.
			p Пластиковая посуда производят с использованием высококачественного сырья, включающий комбинацию полиэтилена низкого давления, полипропилена или полистирола с красителями и модифицированными добавками, которые придают изделиям необходимые цвета и оттенки, а также яркий, эстетически привлекательный внешний вид и хорошие эксплуатационные характеристики. икористовується також для миття різних продуктів харчування, їх обробки, а також при сервіровці столу, на дачах, у дорозі, походах та ін.
			p Пластиковая посуда производят с использованием высококачественного сырья, включающий комбинацию полиэтилена низкого давления, полипропилена или полистирола с красителями и модифицированными добавками, которые придают изделиям необходимые цвета и оттенки, а также яркий, эстетически привлекательный внешний вид и хорошие эксплуатационные характеристики. икористовується також для миття різних продуктів харчування, їх обробки, а також при сервіровці столу, на дачах, у дорозі, походах та ін.
			p Пластиковая посуда производят с использованием высококачественного сырья, включающий комбинацию полиэтилена низкого давления, полипропилена или полистирола с красителями и модифицированными добавками, которые придают изделиям необходимые цвета и оттенки, а также яркий, эстетически привлекательный внешний вид и хорошие эксплуатационные характеристики. икористовується також для миття різних продуктів харчування, їх обробки, а також при сервіровці столу, на дачах, у дорозі, походах та ін.
			p Пластиковая посуда производят с использованием высококачественного сырья, включающий комбинацию полиэтилена низкого давления, полипропилена или полистирола с красителями и модифицированными добавками, которые придают изделиям необходимые цвета и оттенки, а также яркий, эстетически привлекательный внешний вид и хорошие эксплуатационные характеристики. икористовується також для миття різних продуктів харчування, їх обробки, а також при сервіровці столу, на дачах, у дорозі, походах та ін.
