footer
	.container
		.row.row-eq-height
			.col-sm-12.col-md-3.copyright-wrap
				.footer__logo
					img(src="img/logo-grey.png", alt="")
				.footer__copyright Пластик-Бест &copy; 2017
					
			.col-xs-6.col-sm-3.col-md-2
				ul.footer__nav
					li 
						a(href="#") Категории                  
					li 
						a(href="#") О нас                  
					li 
						a(href="#") Блог                 
					li 
						a(href="#") Доставка                 
					li 
						a(href="#") Оплата                 
					li 
						a(href="#") Отзывы
					li 
						a(href="#") Политика безопасности

			.col-xs-6.col-sm-3.col-md-2
				ul.footer__nav
					li 
						a(href='#') Условия соглашения
					li 
						a(href='#') Возврат товара
					li 
						a(href='#') Карта сайта
					li 
						a(href='#') Производители              
					li 
						a(href='#') Подарочные сертификаты
					li 
						a(href='#') Партнеры
					li 
						a(href='#') Товары со скидкой
			.col-xs-6.col-sm-3.col-md-2
				ul.footer__nav
					li 
						a(href="#") Связаться с нами
					li 
						a(href="#") Личный кабинет
					li 
						a(href="#") История заказов
					li 
						a(href="#") Мои закладки
					li 
						a(href="#") Рассылка новостей
			.col-xs-6.col-sm-3.col-md-3
				ul.phone.phone_footer
					li
						a(href="tel:+380904386698") + 380(90) 438 66 98
					li
						a(href="tel:+380904386698") + 380(90) 438 66 98
					li
						a(href="tel:+380904386698") + 380(90) 438 66 98
					li
						a(href="tel:+380904386698") + 380(90) 438 66 98
				.socials.socials_footer
					a.vk(href='#' target="_blank")
					a.fb(href='#' target="_blank")
					a.yu(href='#' target="_blank")
					a.tw(href='#' target="_blank")

.line
	.container
.modal-hidden
			#sent-message.modal.my-modal.fade.popup(role='dialog')
				.modal-dialog
					.modal-content
						button.close.close-x(type='button', data-dismiss='modal')
						.form-wrapper
							form#sent-message-form(method='POST', onsubmit='return false')
								.form__title Надіслати повідомлення
								.input-row
									label.validate
										input(type='text', name='name', placeholder='Ваше ім`я')
										span
								.input-row
									label.validate
										input(type='tel', name='tel', data-mask='+38-(000)-000-00-00', placeholder='Ваш телефон')
										strong Формат: +38 XXX XXX-XX-XX
										span
								.input-row
									label.validate
										textarea.comments(name='message', placeholder='Ваше повідомлення')
										span
								.input-row.input-btn
									button.btn.btn_blue(type='submit', data-rel='sent-message-form')
										| надіслати
			#call-back.modal.my-modal.fade.popup(role='dialog')
				.modal-dialog
					.modal-content
						button.close.close-x(type='button', data-dismiss='modal')
						.form-wrapper
							form#call-back-form(method='POST', onsubmit='return false')
								.form__title перезвоніть мені
								.input-row
									label.validate
										input(type='text', name='name', placeholder='Ваше ім`я')
										span
								.input-row
									label.validate
										input(type='tel', name='tel', data-mask='+38-(000)-000-00-00', placeholder='Ваш телефон')
										strong Формат: +38 XXX XXX-XX-XX
										span
								.input-row
									label
										textarea.comments(name='message', placeholder='Ваше повідомлення (якщо необхідно)')
										span
								.input-row.input-btn
									button.btn.btn_blue(type='submit', data-rel='call-back-form')
										| надіслати
			#request.modal.my-modal.fade.popup(role='dialog')
				.modal-dialog
					.modal-content
						button.close.close-x(type='button', data-dismiss='modal')
						.form-wrapper
							form#request-form(method='POST', onsubmit='return false')
								.form__title надіслати заявку
								.input-row
									label.validate
										input(data-required='Введіть імя', type='text', name='name', placeholder='Ваше ім`я')
										span
								.input-row
									label.validate
										input(type='tel', name='tel', data-mask='+38-(000)-000-00-00', placeholder='Ваш телефон')
										strong Формат: +38 XXX XXX-XX-XX
										span
								.input-row
									label.validate
										textarea.comments(name='message', placeholder='Ваше повідомлення')
										span
								.input-row.input-btn
									button.btn.btn_blue(type='submit', data-rel='request-form')
										| надіслати
			#thank-you.modal.modalthank.my-modal.fade.popup(role='dialog')
				.modal-dialog
					.modal-content
						button.close.close-x(type='button', data-dismiss='modal')

						.form-wrapper
							.form__title дякуємо!
							.input-row
								b Ваше повідомлення надіслано успішно!
								br
								| Наш спіціаліст зв'яжеться з
								|                         Вами найближчим часом.
							.input-row
								button.close.btn.btn_blue(type='button', data-dismiss='modal')
									| закрити
