header
	.line
		.container
	.header__top
		.container
			.row
				.col-xs-12.col-sm-3.col-lg-4
					.logo
						a(href='#')
							img(src='img/logo.png' alt='')
				.col-xs-8.col-sm-6.col-lg-4
					ul.phone.phone_2col
						li
							a(href="tel:+380904386698") + 380(90) 438 66 98
						li
							a(href="tel:+380904386698") + 380(90) 438 66 98
						li
							a(href="tel:+380904386698") + 380(90) 438 66 98
						li
							a(href="tel:+380904386698") + 380(90) 438 66 98
				.col-lg-2.header__socials
					.socials
						p Мы в социальных сетях:
						a.vk(href='#' target="_blank")
						a.fb(href='#' target="_blank")
						a.yu(href='#' target="_blank")
						a.tw(href='#' target="_blank")
					
				.col-xs-4.col-sm-3.col-lg-2.switcher-login-wrapper
					.switcher
						p ГРН
						ul.switcher__dropdown
							li
								a(href='#') ГРН
							li
								a(href='#') USD
							li
								a(href='#') EUR
					.switcher
						p РУС
						ul.switcher__dropdown
							li
								a(href='#') РУС 
							li
								a(href='#') ENG
					.login
						a(href="#") Вход
						a(href='#') Регистрация
	.header__bottom
		.container.clearfix
			#hamburger(role='button')
				span
				span
				span
				span
			.search-box
				input(type='text' placeholder='Поиск по сайту' )
				button(type="submit")
			.basket.clearfix
				.basket__top Ваша корзина
				.basket__bottom 999 тов. - 99999.99 грн.
				.inbasket
					.inbasket__item
						.inbasket__item-del.jsInBasketRemoveItem(role='button')
						.inbasket__img
							img(src="img/img-inbasket.png", alt="") 
						.inbasket__title Губка для мытья посуды (Н / Р - 2 шт) SENEL "Айс"
						.inbasket__quantity 9999 шт.
						.inbasket__price 99999.99 грн.
					.inbasket__item
						.inbasket__item-del.jsInBasketRemoveItem(role='button')
						.inbasket__img
							img(src="img/img-inbasket.png", alt="") 
						.inbasket__title Губка для мытья посуды (Н / Р - 2 шт) SENEL "Айс"
						.inbasket__quantity 9999 шт.
						.inbasket__price 99999.99 грн.
					.inbasket__amount
						.inbasket__amount-item
							.inbasket__amount-price-approximate
								.text Предварительная стоимость
								.value 999999.00 грн.
						.inbasket__amount-item
							.inbasket__amount-price-final
								.text итого
								.value 999999.00 грн.
					.inbasket__buttons
						a.butn.butn_grey(href="#") Открыть корзину
						a.butn(href="#") Оформить заказ
	.header__nav
		.container
			ul#nav
				li
					a.current(href="category.html") Категории                  
				li
					a(href="about-text.html") О нас                  
				li
					a(href="#") Блог                 
				li
					a(href="#") Доставка                  
				li
					a(href="#") Оплата                  
				li
					a(href="#") Отзывы
								
				
				
				
				
		
