meta(charset="utf-8")
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
title Plastic
link(rel='shortcut icon', type='image/x-icon', href='img/favicon.ico')
link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic,cyrillic-ext', rel='stylesheet')

//- inject:css
link(rel="stylesheet", href="vendor/css/bootstrap.min.css")
link(rel="stylesheet", href="vendor/css/font-awesome.min.css")
link(rel="stylesheet", href="vendor/css/jquery.fancybox.min.css")
link(rel="stylesheet", href="vendor/css/normalize.css")
link(rel="stylesheet", href="vendor/css/slick.css")
link(rel="stylesheet", href="css/style.css")
//- endinject
