doctype html
html
	head
		include ./_head.jade
	body
		include ./components/_header.jade
		.container
			ol
				li
					a(href="index.html") Главная                  
				li
					a(href="category.html") Категории                  
				li
					a(href="about-text.html") О нас                  
				li
					a(href="basket.html") Корзина                 
				li
					a(href="card.html") Карточка товара                 
				li
					a(href="profile.html") Личный кабинет                 
				li
					a(href="profile_autorization.html") Личный кабинет Авторизация               
				li
					a(href="profile_registration.html") Личный кабинет Регистрация               
				li
					a(href="order.html") Оформление заказа                 
				li
					a(href="blog.html") Блог                 
				li
					a(href="blog-single.html") Статья               
				li
					a(href="testemonials.html") Отзывы
		include ./components/_footer.jade
		
		
		//- jquery:js
		script(src="vendor/js/jquery.js")
		//- endinject
		//- inject:js
		script(src="vendor/js/bootstrap.min.js")
		script(src="vendor/js/jquery.fancybox.min.js")
		script(src="vendor/js/jquery.formstyler.min.js")
		script(src="vendor/js/jquery.mask.min.js")
		script(src="vendor/js/slick.js")
		script(src="js/main.js")
		//- endinject
		
		script.
			$('a[href*=".html"]').each(function() {
			    $(this).css('color', 'red');
			});
