@import url("https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:600,700|Fira+Sans:300,400,500,700,900&subset=cyrillic,cyrillic-ext");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none; }

*:active, *:focus {
  outline: none !important;
  text-decoration: none !important; }

html {
  height: 100%; }

body {
  min-height: 100%;
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px; }

.clearfix:before, .clearfix:after {
  content: ' ';
  display: table;
  clear: both; }

h1, h2, h3, h4, h5, h6, ul, ol {
  margin: 0;
  padding: 0; }

.row-eq-height {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

/*--== buttons ==--*/
.butn {
  display: inline-block;
  min-width: 160px;
  padding: 13px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background-color: #3399cc;
  text-align: center;
  color: #fff;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.butn:active, .butn:focus, .butn:hover {
  background: #000;
  color: #fff;
  text-decoration: none; }

.butn_grey {
  background-color: #999999; }

/*--== /buttons ==--*/
/*--== header ==--*/
.line {
  border-top: 3px solid #222; }

.line .container {
  position: relative; }

.line .container:before {
  content: "";
  display: block;
  position: absolute;
  width: 160px;
  height: 3px;
  background-color: #3399cc;
  right: 15px;
  bottom: 100%; }

.header__top {
  padding: 23px 0 0; }

.logo img {
  max-width: 100%; }

.phone {
  list-style: none; }

.phone li {
  display: inline-block; }

.phone li:first-child a:before {
  content: '\f095';
  position: absolute;
  display: block;
  left: 0;
  font-family: 'FontAwesome';
  font-size: 20px;
  color: #dadada; }

.phone a {
  color: #333;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 10px; }

.phone_2col {
  overflow: hidden; }

.phone_2col li {
  width: 50%;
  float: left; }

.socials p {
  color: #333;
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 5px; }

.socials a {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-color: #dadada;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-right: 8px;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.socials a:last-child {
  margin-right: 0; }

.socials a:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-family: 'FontAwesome';
  font-size: 16px; }

.socials a.fb:before {
  content: "\f09a "; }

.socials a.fb:hover {
  background-color: #4867aa; }

.socials a.tw:before {
  content: "\f099 "; }

.socials a.tw:hover {
  background-color: #5cb7e6; }

.socials a.vk:before {
  content: "\f189 "; }

.socials a.vk:hover {
  background-color: #4676ae; }

.socials a.yu:before {
  content: "\f167 "; }

.socials a.yu:hover {
  background-color: #ff0000; }

.switcher-login-wrapper {
  text-align: right; }

.switcher {
  width: 76px;
  height: 22px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  position: relative;
  border-radius: 2px;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 5px;
  z-index: 999;
  text-align: center; }

.switcher:before {
  content: '\f107 ';
  position: absolute;
  display: block;
  font-family: 'FontAwesome';
  width: 21px;
  height: 20px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background-color: #f0f0f0;
  color: #333;
  text-align: center;
  right: 0;
  top: 0; }

.switcher a,
.switcher p {
  color: #3399cc;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  padding: 0 22px 0 9px; }

.switcher__dropdown {
  padding: 5px 0;
  display: none;
  top: 100%;
  left: 0;
  right: 0;
  position: absolute;
  list-style: none;
  background-color: #f0f0f0;
  -webkit-border-radius: 1px;
          border-radius: 1px; }

.login {
  position: relative;
  padding-left: 25px;
  display: inline-block; }

.login:before {
  content: '\f007';
  position: absolute;
  font-family: 'FontAwesome';
  color: #dadada;
  left: 0;
  font-size: 16px; }

.login a {
  display: inline-block;
  color: #333;
  font-size: 13px;
  font-weight: 400;
  line-height: 1; }

.login a + a:before {
  content: '/';
  display: inline-block;
  margin: 0 5px; }

.header__bottom {
  padding-top: 10px; }

.search-box {
  float: left;
  width: -webkit-calc(100% - 190px);
  width: calc(100% - 190px);
  position: relative; }

.search-box input {
  width: 100%;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  padding: 8px 30px 9px 20px; }

.search-box button {
  width: 47px;
  height: 35px;
  border: 0;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background-color: #f0f0f0;
  position: absolute;
  top: 0;
  right: 0; }

.search-box button:before {
  content: '\f002 ';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: 'FontAwesome';
  color: #333;
  -webkit-border-radius: 0 2px 2px 0;
          border-radius: 0 2px 2px 0; }

.basket {
  display: inline-block;
  width: 160px;
  height: 51px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background-color: #333;
  margin-left: 30px;
  padding: 3px 10px;
  position: relative;
  cursor: default; }

.basket__top {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  text-transform: uppercase;
  padding-left: 30px;
  position: relative; }

.basket__top:before {
  content: '\f291 ';
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  font-family: 'FontAwesome'; }

.basket__bottom {
  color: #3399cc;
  font-size: 12px;
  line-height: 1;
  padding-top: 6px;
  white-space: nowrap; }

.basket:hover {
  text-decoration: none; }

.inbasket {
  display: none;
  position: absolute;
  z-index: 1000;
  width: 445px;
  right: 0;
  top: 100%;
  -webkit-box-shadow: 0 15px 27px 3px rgba(7, 36, 65, 0.1);
          box-shadow: 0 15px 27px 3px rgba(7, 36, 65, 0.1);
  background-color: #fafafa;
  padding: 10px 20px 20px; }

.inbasket__item-del {
  position: absolute;
  width: 14px;
  height: 14px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #cc3333;
  top: 10px;
  right: 0; }

.inbasket__item-del:after, .inbasket__item-del:before {
  content: '';
  position: absolute;
  height: 2px;
  width: 6px;
  top: 6px;
  left: 4px;
  background: #fff; }

.inbasket__item-del:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.inbasket__item-del:after {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg); }

.inbasket__item {
  padding: 10px 0 10px 77px;
  border-bottom: 1px solid #dddddd;
  position: relative; }

.inbasket__img {
  position: absolute;
  left: 0;
  top: 10px;
  width: 60px;
  height: 60px; }

.inbasket__img img {
  max-width: 100%; }

.inbasket__title {
  display: inline-block;
  width: 170px;
  height: 60px;
  color: #333;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  display: table-cell;
  vertical-align: middle;
  overflow: hidden;
  padding-right: 5px; }

.inbasket__price, .inbasket__quantity {
  display: table-cell;
  height: 60px;
  vertical-align: middle;
  overflow: hidden; }

.inbasket__quantity {
  color: #999;
  font-size: 12px;
  line-height: 1; }

.inbasket__price {
  padding-left: 5px;
  text-align: right;
  height: 13px;
  color: #3399cc;
  font-size: 14px;
  font-weight: 700;
  line-height: 1; }

.inbasket__amount {
  margin-top: 10px;
  border: 1px solid #ddd;
  background-color: #fff; }

.inbasket__amount-item {
  padding: 0 13px;
  overflow: hidden;
  border-bottom: 1px solid #ddd; }

.inbasket__amount-item:last-child {
  border-bottom: none; }

.inbasket__amount-item .text {
  float: left;
  color: #999;
  font-size: 12px;
  font-weight: 400;
  line-height: 29px; }

.inbasket__amount-item .text_font-size {
  font-size: 14px;
  line-height: 34px; }

.inbasket__amount-item .value {
  float: right;
  color: #3399cc;
  font-size: 14px;
  font-weight: 300;
  line-height: 29px; }

.inbasket__amount-item .value_font-size {
  font-size: 18px;
  line-height: 34px; }

.inbasket__amount-price-final .text {
  font-weight: 700;
  text-transform: uppercase;
  color: #333; }

.inbasket__amount-price-final .value {
  font-weight: 700; }

.basket:hover .inbasket {
  display: block; }

.header__nav {
  border: 1px solid #efefef;
  background-color: #fafafa;
  margin-bottom: 18px; }

.inbasket__buttons {
  overflow: hidden;
  padding-top: 10px; }

.inbasket__buttons .butn.butn_grey {
  float: left; }

.inbasket__buttons .butn {
  float: right; }

#nav {
  list-style: none;
  display: block;
  margin-bottom: 0;
  text-align: center; }

#nav li {
  display: inline-block;
  margin-left: 66px; }

#nav li:first-child {
  margin-left: 0; }

#nav a {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  text-transform: uppercase;
  color: #000000;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

#nav a.current, #nav a:focus, #nav a:hover {
  text-decoration: none;
  color: #3399cc; }

#hamburger {
  display: none;
  float: left;
  width: 30px;
  height: 30px;
  position: relative;
  margin: 7px 30px 0 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer; }

#hamburger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #3399cc;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out; }

#hamburger span:nth-child(1) {
  top: 0; }

#hamburger span:nth-child(2),
#hamburger span:nth-child(3) {
  top: 9px; }

#hamburger span:nth-child(4) {
  top: 18px; }

#hamburger.open span:nth-child(1) {
  top: 9px;
  width: 0;
  left: 50%; }

#hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg); }

#hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }

#hamburger.open span:nth-child(4) {
  top: 9px;
  width: 0;
  left: 50%; }

main {
  padding-bottom: 25px; }

.banner-slider,
.product__img-slider {
  position: relative; }

.banner-slider .slick-arrow,
.product__img-slider .slick-arrow {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 32px;
  z-index: 999; }

.banner-slider .slick-arrow span,
.product__img-slider .slick-arrow span {
  position: absolute;
  left: 0;
  right: 0;
  height: 41px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background: rgba(241, 241, 241, 0.5);
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.banner-slider .slick-arrow span svg,
.product__img-slider .slick-arrow span svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: #333; }

.banner-slider .slick-arrow:hover span svg,
.product__img-slider .slick-arrow:hover span svg {
  fill: #3399cc; }

.banner-slider .slick-arrow-right,
.product__img-slider .slick-arrow-right {
  right: 0; }

.banner-slider .slick-arrow-left,
.product__img-slider .slick-arrow-left {
  left: 0; }

.banner-slider__item {
  overflow: hidden;
  min-height: 435px;
  padding: 60px 0; }

.banner-slider__item_bg1 {
  background: url("../img/bg-slider1.png") no-repeat center;
  background-size: cover; }

.banner-slider__item .banner-slider__item-title {
  float: right;
  padding-right: 100px;
  width: 41.66666667%; }

.banner-slider__item .banner-slider__item-title h1 {
  color: #333;
  font-size: 41px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 22px; }

.banner-slider__item .banner-slider__item-title p {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 40px; }

.slick-dots {
  list-style: none;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.slick-dots li {
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color: #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-left: 20px; }

.slick-dots li button {
  display: none; }

.slick-dots li:first-child {
  margin-left: 0; }

.slick-dots li.slick-active {
  background: #333; }

.banner-slider-wrap {
  margin-bottom: 45px;
  -webkit-box-shadow: 1px 43px 33px -37px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 43px 33px -37px rgba(0, 0, 0, 0.3); }

.categorys {
  padding-bottom: 20px; }

.categorys .row {
  margin: 0 -5px; }

.categorys [class*="col-"] {
  padding: 0 5px; }

.category {
  display: block;
  overflow: hidden;
  height: 150px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background-image: -webkit-linear-gradient(50deg, #ffffff 0%, #ececec 100%);
  background-image: linear-gradient(40deg, #ffffff 0%, #ececec 100%);
  position: relative;
  margin-bottom: 10px;
  padding: 15px 20px;
  color: #333;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.category__img {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0; }

.category__title {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  text-align: right; }

.category:hover {
  text-decoration: none;
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
  color: #333; }

.section {
  padding-top: 10px; }

.section__title {
  color: #333333;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  overflow: hidden;
  text-align: center;
  margin-bottom: 40px; }

.section__title span {
  display: inline-block;
  position: relative;
  padding: 0 20px; }

.section__title span:after, .section__title span:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  width: 735px;
  height: 1px;
  background-color: #e6e6e6; }

.section__title span:before {
  right: 100%; }

.section__title span:after {
  left: 100%; }

.product {
  height: 100%;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  padding: 15px 17px 17px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-bottom: 30px; }

.product__link:hover {
  text-decoration: none; }

.product__title {
  color: #333;
  font-weight: 600;
  line-height: 1.4;
  padding-right: 10px;
  height: 57px;
  margin-bottom: 9px;
  overflow: hidden; }

.product__img {
  text-align: center;
  overflow: hidden;
  height: 227px;
  margin-bottom: 30px; }

.product__img img {
  max-width: 100%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.product__order {
  overflow: hidden; }

.product__price {
  display: inline-block;
  font-size: 0;
  float: left; }

.product__price-new {
  color: #3399cc;
  font-size: 16px;
  font-weight: 700; }

.product__price-old {
  color: #999999;
  font-size: 14px;
  font-weight: 300;
  text-decoration: line-through; }

.product__butn-holder {
  float: right;
  font-size: 0;
  display: inline-block; }

.product__butn-holder .butn {
  min-width: 105px;
  font-size: 14px; }

.product:hover {
  -webkit-box-shadow: 0 15px 24px 1px rgba(7, 36, 65, 0.1);
          box-shadow: 0 15px 24px 1px rgba(7, 36, 65, 0.1); }

.vobler {
  position: relative; }

.vobler:before {
  content: "";
  display: block;
  position: absolute;
  width: 41px;
  height: 60px;
  right: 0;
  top: -5px;
  z-index: 1; }

.vobler_new:before {
  background: url("../img/label-new.png") no-repeat; }

.vobler_hit:before {
  background: url("../img/label-hit.png") no-repeat; }

.vobler_sale:before {
  background: url("../img/label-sale.png") no-repeat; }

.bread-crumb {
  list-style: none;
  margin-bottom: 30px; }

.bread-crumb li {
  display: inline-block; }

.bread-crumb a {
  color: #3399cc;
  line-height: 1;
  font-size: 13px; }

.bread-crumb a:hover {
  text-decoration: underline; }

.bread-crumb li + li:before {
  display: inline-block;
  content: '/';
  margin: 0 8px;
  color: #999999; }

.bread-crumb .active {
  text-decoration: none;
  cursor: default;
  color: #999999; }

.bread-crumb .active:hover {
  text-decoration: none; }

.category-list-title {
  display: none;
  border: 1px solid #ebebeb;
  background-color: #fafafa;
  padding: 10px 40px 10px 20px;
  position: relative; }

.category-list-title .fa {
  display: inline-block;
  margin-left: 20px;
  color: #3399cc;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -5px;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.category-list-title.open .fa {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.category-list {
  list-style: none;
  border: 1px solid #ebebeb;
  background-color: #fafafa;
  padding: 10px 0; }

.category-list a {
  display: block;
  padding: 8px 20px;
  color: #666;
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  text-decoration: none; }

.category-list a:hover {
  color: #3399cc;
  background-color: #ebebeb; }

.category-list .active a {
  color: #3399cc;
  background-color: #ebebeb; }

.category-list_blue-active .active a {
  color: #fff;
  background-color: #3399cc; }

.category-list_blue-active a:hover {
  color: #fff;
  background-color: #3399cc; }

.switcher-holder {
  display: inline-block; }

.filter-wrap {
  text-align: right;
  margin-bottom: 24px; }

.switcher-title {
  display: inline-block;
  color: #999999;
  font-size: 13px;
  line-height: 19px;
  margin: 0 11px 0 35px; }

.switcher_filter {
  height: 31px;
  display: inline-block;
  width: auto;
  line-height: 31px;
  z-index: 9; }

.switcher_filter p {
  padding: 0 30px 0 9px;
  line-height: 31px; }

.switcher_filter:before {
  background: transparent;
  color: #3399cc; }

.switcher_filter_z-index {
  z-index: 5; }

.switcher_filter,
.switcher_filter a,
.switcher_filter p {
  color: #333;
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
  text-transform: none; }

.switcher_filter a:hover {
  color: #3399cc; }

.product_with-slider {
  padding-left: 0;
  padding-right: 0; }

.product_with-slider .product__order,
.product_with-slider .product__title {
  padding-left: 17px;
  padding-right: 17px;
  display: block; }

.product_with-slider img {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  position: static;
  display: inline-block; }

.product__img-slider-item {
  display: block;
  text-align: center; }

.page-pagination {
  margin-bottom: 30px; }

.page-pagination ul {
  display: inline-block;
  list-style: none;
  border: 1px solid #ebebeb;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font-size: 0; }

.page-pagination ul li {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-left: 1px solid #ebebeb; }

.page-pagination ul li:first-child {
  border-left: none; }

.page-pagination ul .fa {
  color: #3399cc; }

.page-pagination ul a {
  display: block;
  color: #999;
  font-size: 14px;
  font-weight: 300; }

.page-pagination ul a:hover {
  text-decoration: none;
  color: #3399cc;
  background-color: #fafafa; }

.page-pagination p {
  float: right;
  color: #666;
  font-size: 13px;
  font-weight: 300;
  line-height: 28px; }

.text {
  color: #666;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5; }

.text img {
  display: inline-block;
  margin: 0 30px 30px 0;
  float: left;
  max-width: 540px; }

.text__title {
  color: #333333;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 20px; }

.text p {
  margin-bottom: 20px; }

.text p a {
  color: #3399cc; }

/*---=== basket ===---*/
.inbasket__item-del_main {
  display: block;
  position: relative;
  top: 0; }

.main-basket {
  margin-bottom: 30px; }

.main-basket table {
  width: 100%; }

.main-basket .thead .tr {
  background-color: #f0f0f0; }

.main-basket .thead .tr .th {
  color: #999;
  font-size: 13px;
  font-weight: 300 !important;
  line-height: 24px;
  padding: 6px 13px; }

.main-basket .tbody .tr {
  border: 1px solid #ebebeb;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background: #fff;
  position: relative;
  z-index: 1; }

.main-basket .tbody .td {
  padding: 13px; }

.main-basket .tbody .td:first-child {
  padding: 8px 0 8px 8px; }

.main-basket .tbody .img {
  display: table-cell;
  border: 1px solid #ebebeb;
  text-align: center;
  width: 94px;
  height: 94px;
  vertical-align: middle; }

.main-basket .tbody .img img {
  max-width: 100%; }

.main-basket .val {
  color: #333;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px; }

.main-basket .sub {
  color: #999;
  font-size: 13px;
  font-weight: 300;
  line-height: 24px; }

.main-basket .price {
  color: #3399cc;
  font-size: 14px;
  font-weight: 300; }

.main-basket .price_bold {
  font-size: 18px;
  font-weight: 700; }

.tr-margin {
  height: 5px; }

.jq-number {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 80px;
  height: 35px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  border: 1px solid #e6e6e6;
  background-color: #ffffff; }

.jq-number input {
  display: block;
  border: none;
  width: 100%;
  height: 33px;
  line-height: 35px;
  text-align: left;
  padding: 0 7px 0 13px;
  font-size: 16px;
  font-weight: 400; }

.jq-number__spin {
  width: 22px;
  height: 17px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background-color: #f0f0f0;
  position: absolute;
  right: 0;
  cursor: pointer; }

.jq-number__spin:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 12px; }

.jq-number__spin.plus {
  top: 0; }

.jq-number__spin.plus:before {
  content: '\f106 ';
  font-family: 'FontAwesome';
  bottom: 0; }

.jq-number__spin.minus {
  bottom: 0; }

.jq-number__spin.minus:before {
  content: '\f107 ';
  font-family: 'FontAwesome';
  top: 0; }

.jq-number__spin:hover:before {
  color: #3399cc; }

.main-basket-buttons {
  padding-top: 20px;
  margin-bottom: 60px; }

.dropdown-box {
  padding-top: 30px; }

.dropdown-box__title {
  margin-bottom: 5px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  border: 1px solid #efefef;
  background-color: #fafafa;
  position: relative;
  color: #333333;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
  padding: 11px 20px;
  cursor: default; }

.dropdown-box__title:before {
  content: "";
  display: block;
  position: absolute;
  content: '\f107 ';
  font-family: 'FontAwesome';
  right: 13px;
  top: 50%;
  margin-top: -7px;
  color: #3399cc;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.dropdown-box__title.open:before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.dropdown-box__content {
  display: none;
  padding: 27px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  border: 1px solid #ebebeb;
  background-color: #fff;
  margin: 15px 0; }

.dropdown-box__content.open {
  display: block; }

.dropdown-box__content .butn {
  min-width: 240px; }

.dropdown-box__hint {
  color: #3399cc;
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 10px; }

.dropdown-box__input {
  width: 100%;
  line-height: 1;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  padding: 11px 20px;
  color: #999;
  font-size: 14px;
  font-weight: 400; }

.dropdown-box__single-input-row {
  width: 528px;
  margin-right: 15px;
  display: inline-block; }

.dropdown-box__explain {
  color: #666;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 15px; }

.dropdown-box__button-holder {
  padding-top: 10px;
  text-align: right; }

textarea.dropdown-box__input {
  min-height: 90px; }

.jq-selectbox {
  position: relative; }

.jq-selectbox:before {
  content: "";
  display: block;
  position: absolute;
  content: '\f107 ';
  font-family: 'FontAwesome';
  right: 13px;
  color: #333;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.jq-selectbox select {
  display: none; }

.jq-selectbox__dropdown {
  -webkit-border-radius: 2px;
          border-radius: 2px;
  border: 1px solid #e6e6e6;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 15px 20px;
  background: #fff; }

.jq-selectbox__dropdown ul {
  list-style: none;
  max-height: 300px;
  overflow-y: scroll; }

.jq-selectbox__dropdown ul li {
  margin-bottom: 15px;
  cursor: default; }

.jq-selectbox__dropdown ul li:hover {
  color: #3399cc; }

/*---== card ===---*/
.product-slider-wrap {
  float: left;
  width: 351px;
  height: 351px;
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px; }

.product-slider {
  max-width: 100%;
  max-height: 100%; }

.product-slider__img {
  width: 351px;
  height: 351px;
  max-width: 100%;
  max-height: 100%;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  border: 1px solid #efefef;
  background-color: #ffffff;
  text-align: center;
  padding: 20px; }

.product-slider__img img {
  display: inline-block;
  max-width: 100%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.product-slider-nav-wrap {
  max-width: 95px;
  display: inline-block;
  vertical-align: top; }

.product-slider-nav__img {
  width: 94px;
  height: 94px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  border: 1px solid #efefef;
  background-color: #ffffff;
  padding: 10px; }

.product-slider-nav__img img {
  display: inline-block;
  max-width: 100%; }

.green {
  color: #339900; }

.red {
  color: red; }

.product-descripion__id {
  color: #333333;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 3px; }

.product-descripion__order {
  padding-top: 25px;
  margin-bottom: 50px; }

.product-descripion__price {
  float: left; }

.product-descripion__old-price {
  color: #333;
  font-size: 14px;
  font-weight: 300;
  line-height: 2;
  text-decoration: line-through; }

.product-descripion__current-price {
  color: #3399cc;
  font-size: 27px;
  font-weight: 600;
  line-height: 30px; }

.product-descripion .butn {
  margin-top: 19px;
  float: right; }

.product-descripion__parametrs p {
  margin-bottom: 25px; }

.shadow-box {
  -webkit-box-shadow: 0 15px 24px 1px rgba(7, 36, 65, 0.1);
          box-shadow: 0 15px 24px 1px rgba(7, 36, 65, 0.1);
  -webkit-border-radius: 1px;
          border-radius: 1px;
  background-color: #fff;
  padding: 30px 40px; }

.shadow-box.text {
  margin-bottom: 25px; }

.shadow-box.text ul {
  list-style: none;
  margin-bottom: 30px; }

.shadow-box.text ul:last-child {
  margin-bottom: 0; }

.shadow-box.text ul a {
  color: #3399cc;
  font-size: 13px;
  font-weight: 400;
  line-height: 27px; }

.shadow-box_form .butn {
  min-width: 240px; }

.shadow-box_form__item-left {
  padding-right: 30px;
  position: relative; }

.shadow-box_form__item-left p {
  margin-bottom: 30px;
  line-height: 1.8; }

.shadow-box_form__item-left:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1px;
  background-color: #e6e6e6; }

.shadow-box_form__item-right {
  padding-left: 30px; }

.shadow-box_form__item-right p {
  margin-bottom: 30px;
  line-height: 1.8; }

.input-row {
  margin-bottom: 15px; }

.foget-pass {
  display: inline-block;
  color: #3399cc;
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  text-decoration: underline; }

.input-row_margin-bottom-xl {
  margin-bottom: 48px; }

.shadow-box_form__item-left_no-line:before {
  display: none; }

.jq-checkbox,
.jq-radio {
  width: 18px;
  height: 18px;
  border: 1px solid #e6e6e6;
  background-color: #f0f0f0;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: inline-block;
  position: relative;
  margin: 0 15px;
  -webkit-transform: translateY(4px);
      -ms-transform: translateY(4px);
          transform: translateY(4px); }

.jq-checkbox input,
.jq-radio input {
  display: none; }

.jq-checkbox.checked:before,
.jq-radio.checked:before {
  content: "";
  display: block;
  position: absolute;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 9px;
  height: 9px;
  background-color: #3399cc;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.input-row-radio {
  line-height: 17px; }

.input-row-radio .dropdown-box__hint {
  display: inline-block; }

.label-radio {
  color: #666;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 23px; }

.c-blue {
  color: #3399cc; }

.input-row-radio-mb {
  margin-bottom: 15px; }

.testemonial {
  -webkit-border-radius: 2px;
          border-radius: 2px;
  border: 1px solid #ebebeb;
  background-color: #fff;
  color: #666;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  padding: 20px;
  margin-bottom: 17px; }

.testemonial__text {
  margin-bottom: 10px; }

.testemonial__autor {
  display: inline-block;
  padding-right: 15px;
  border-right: 1px solid #ebebeb;
  color: #3399cc;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px; }

.testemonial__date {
  display: inline-block;
  padding-left: 15px;
  position: relative;
  color: #999;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px; }

.testemonial__date:before {
  display: inline-block;
  content: '\f017';
  font-family: 'FontAwesome';
  margin-right: 10px; }

.blog-item {
  margin-bottom: 30px; }

.blog-item__img {
  text-align: center; }

.blog-item__img img {
  max-width: 100%; }

.blog-item__content {
  padding-top: 16px; }

.blog-item__title {
  margin-bottom: 10px; }

.blog-item__title a {
  color: #333;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3; }

.blog-item__title a:hover {
  color: #3399cc;
  text-decoration: none; }

.blog-item__date {
  position: relative;
  color: #999;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 10px; }

.blog-item__date:before {
  display: inline-block;
  content: '\f017';
  font-family: 'FontAwesome';
  margin-right: 10px; }

.blog-item__text {
  color: #666;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.4;
  max-height: 75px;
  overflow: hidden; }

.article-date {
  position: relative;
  color: #999;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 30px;
  text-align: center; }

.article-date:before {
  display: inline-block;
  content: '\f017';
  font-family: 'FontAwesome';
  margin-right: 10px; }

footer {
  border: 1px solid #efefef;
  background-color: #fafafa;
  padding: 50px 0; }

.phone_footer {
  text-align: right;
  margin-bottom: 27px; }

.phone_footer a {
  color: #999;
  font-size: 14px; }

.socials_footer {
  text-align: right; }

.copyright-wrap {
  padding-bottom: 10px; }

.footer__copyright {
  color: #999;
  font-size: 13px;
  line-height: 1.2;
  position: absolute;
  left: 15px;
  bottom: 0; }

.footer__nav {
  list-style: none; }

.footer__nav a {
  color: #999999;
  font-size: 13px;
  font-weight: 400;
  line-height: 1; }

.footer__nav a:hover {
  text-decoration: none;
  color: #3399cc; }

.modal-content .contacts-form-wrapper {
  position: relative; }

.close-x {
  top: 15px;
  right: 15px;
  position: absolute;
  width: 16px;
  height: 16px;
  cursor: pointer; }

.close-x:hover {
  opacity: 0.8; }

.close-x:after, .close-x:before {
  content: '';
  position: absolute;
  height: 2px;
  width: 22px;
  top: 7px;
  left: -3px;
  background: #fff; }

.close-x:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.close-x:after {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg); }

/*MEDIA QUERY*/
@media (max-width: 1199px) {
  .header__socials {
    display: none; }
  .banner-slider__item .banner-slider__item-title {
    width: auto;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center; } }

@media (min-width: 992px) {
  .category-list {
    display: block !important; } }

@media (max-width: 991px) {
  .shadow-box {
    margin-top: 30px; }
  .categorys_mt-on-mob {
    margin-top: 30px; }
  .category-list-title {
    display: block; }
  .category-list {
    display: none; }
  footer .row-eq-height {
    display: block;
    position: relative;
    padding-bottom: 35px; }
  footer .copyright-wrap {
    position: static; }
  .footer__logo {
    text-align: center;
    margin-bottom: 15px; }
  .footer__copyright {
    left: 0;
    right: 0;
    text-align: center; }
  .text img {
    display: block;
    max-width: 100%;
    margin: 0 auto 30px;
    float: none; }
  .dropdown-box__single-input-row {
    width: 100%; }
  .dropdown-box__input {
    margin-bottom: 20px; }
  .sliders-wrap {
    text-align: center;
    margin-bottom: 20px; }
  .product-slider-wrap {
    float: none; }
  .input-row {
    margin-bottom: 0; }
  .foget-pass {
    margin-bottom: 15px; }
  .shadow-box_form .butn {
    margin-bottom: 15px; }
  .shadow-box_form__item-left {
    padding-right: 15px;
    margin-bottom: 30px; }
  .shadow-box_form__item-left:before {
    display: none; }
  .shadow-box_form__item-right {
    padding-left: 15px; } }

@media (min-width: 768px) {
  #nav {
    display: block !important; } }

@media (max-width: 767px) {
  .header__nav .container {
    position: relative; }
  #nav {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: #fafafa;
    right: 14px;
    left: 14px;
    top: 0; }
  #nav li {
    display: block;
    margin-left: 0; }
  .search-box {
    width: -webkit-calc(100% - 126px);
    width: calc(100% - 126px); }
  .header__top {
    padding: 10px 0 0; }
  #hamburger {
    display: inline-block; }
  .search-box {
    display: inline-block;
    float: none; }
  .logo {
    text-align: center;
    margin-bottom: 20px; }
  .basket__top:before {
    font-size: 30px;
    color: #3399cc; }
  .basket {
    width: 35px;
    height: 35px;
    padding: 0;
    float: right;
    background: transparent; }
  .basket__top {
    padding-left: 36px;
    overflow: hidden; }
  .basket__bottom {
    display: none; }
  .header__bottom {
    padding-bottom: 15px; }
  .footer__nav {
    text-align: center;
    margin-bottom: 15px; }
  .phone_footer {
    position: relative;
    -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
            transform: translateX(-10px); }
  .phone_footer li {
    display: block;
    text-align: center; }
  .socials_footer {
    text-align: center; }
  .page-pagination {
    text-align: center; }
  .page-pagination p,
  .page-pagination ul {
    float: none; }
  .page-pagination ul {
    margin-bottom: 15px; } }

@media (max-width: 699px) {
  .main-basket table {
    display: block; }
  .main-basket .thead {
    display: none; }
  .main-basket .tr {
    display: block;
    padding-left: 114px; }
  .main-basket .td {
    display: block;
    padding: 0 13px !important; }
  .main-basket .td:before {
    content: attr(data-name);
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 3px;
    display: block;
    font-weight: bold; }
  .main-basket .tbody {
    display: block; }
  .main-basket .tbody .td:first-child {
    left: 0;
    top: 14px;
    position: absolute; }
  .main-basket .tbody .td:first-child:before {
    display: none; }
  .main-basket .tbody .td:last-child {
    position: absolute;
    right: 0;
    top: 0; }
  .main-basket .tbody .tr {
    padding-bottom: 5px; }
  .dropdown-box__content .main-basket table {
    display: block; }
  .dropdown-box__content .main-basket .thead {
    display: none; }
  .dropdown-box__content .main-basket .tr {
    display: block;
    padding-left: 0; }
  .dropdown-box__content .main-basket .td {
    display: block;
    padding: 0 13px !important; }
  .dropdown-box__content .main-basket .td:before {
    content: attr(data-name);
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 3px;
    display: block;
    font-weight: bold; }
  .dropdown-box__content .main-basket .tbody {
    display: block; }
  .dropdown-box__content .main-basket .tbody .td:first-child {
    left: 0;
    top: 14px;
    position: static; }
  .dropdown-box__content .main-basket .tbody .td:first-child:before {
    display: block; }
  .dropdown-box__content .main-basket .tbody .td:last-child {
    position: static; }
  .dropdown-box__content .main-basket .tbody .tr {
    padding-bottom: 5px; } }

@media (max-width: 600px) {
  .shadow-box_form__submit-wrap .pull-left, .shadow-box_form__submit-wrap .pull-right {
    float: none !important; }
  .input-row-radio {
    margin-bottom: 15px; } }

@media (max-width: 560px) {
  .header__top .phone_2col li {
    width: 100%;
    display: none; }
  .header__top .phone_2col li:nth-child(1), .header__top .phone_2col li:nth-child(2) {
    display: inline-block; }
  .header__top .row [class*='col-']:nth-child(2) {
    width: 50%; }
  .header__top .row [class*='col-']:nth-child(4) {
    width: 50%; }
  .banner-slider__item .banner-slider__item-title h1 {
    font-size: 30px; }
  .products [class*="col-"] {
    width: 100%; } }

@media (max-width: 500px) {
  .inbasket {
    right: -15px;
    max-width: 320px;
    padding: 10px 10px 20px; }
  .categorys [class*='col-'] {
    width: 100%;
    float: none; }
  .inbasket__buttons {
    text-align: center; }
  .inbasket__buttons .butn {
    float: none !important; }
  .inbasket__buttons .butn_grey {
    margin-bottom: 15px; } }

@media (max-width: 484px) {
  .product-slider-wrap {
    margin-bottom: 20px;
    margin-right: 0; }
  .product-slider-nav-wrap {
    max-width: 100%; }
  .product-slider__item {
    text-align: center; }
  .product-slider-nav__img {
    margin-left: auto;
    margin-right: auto; }
  .section__title {
    font-size: 18px; } }

@media (max-width: 466px) {
  footer [class*='col-'] {
    width: 100%; } }

@media (max-width: 409px) {
  .inbasket__amount-item .text.text_font-size {
    float: none;
    text-align: center; }
  .inbasket__amount-item .value.value_font-size {
    float: none;
    text-align: center; }
  .main-basket-buttons .butn {
    display: block; }
  .main-basket-buttons .butn.pull-right {
    margin-top: 15px;
    float: none !important; } }

@media (max-width: 391px) {
  .switcher-login-wrapper {
    padding-left: 0; }
  .switcher_filter {
    width: auto !important; }
  .header__top .phone a {
    font-size: 14px;
    padding-left: 0; }
  .header__top .phone li:first-child a:before {
    display: none; }
  .header__top .row [class*='col-']:nth-child(2) {
    padding-right: 0; }
  .switcher {
    width: 70px; }
  .login a {
    font-size: 12px; }
  #hamburger {
    margin-right: 15px; }
  .basket {
    margin-left: 15px; }
  .search-box {
    width: -webkit-calc(100% - 96px);
    width: calc(100% - 96px); }
  .shadow-box_form .butn, .dropdown-box__content .butn {
    min-width: initial;
    display: block;
    float: none !important; }
  .shadow-box_form .pull-left, .shadow-box_form .pull-right, .dropdown-box__content .pull-left, .dropdown-box__content .pull-right {
    float: none !important; }
  .shadow-box {
    padding: 30px 20px; }
  .dropdown-box__content {
    padding: 15px 10px; } }

@media (max-width: 350px) {
  .main-basket .tbody .tr {
    padding-left: 0; }
  .main-basket .tbody .td:first-child {
    position: relative;
    top: 0;
    margin: 10px 0; } }
