/*--== buttons ==--*/
.butn {
    display: inline-block;
    min-width: 160px;
    padding: 13px;
    border-radius: 2px;
    background-color: #3399cc;
    text-align: center;
    color: #fff;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    border: none;
    @include trans;

    &:active,
    &:focus,
    &:hover {
        background: #000;
        color: #fff;
        text-decoration: none;
    }

    &_grey {
        background-color: #999999;
    }
}
/*--== /buttons ==--*/
