main {
    padding-bottom: 25px;
}

.banner-slider,
.product__img-slider {
    position: relative;

    .slick-arrow {
        cursor: pointer;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 32px;
        z-index: 999;

        span {
            position: absolute;
            left: 0;
            right: 0;
            height: 41px;
            border-radius: 2px;
            background: rgba(#f1f1f1, .5);
            @include centerY;

            svg {
                position: absolute;
                @include center;
                fill: #333;
            }
        }

        &:hover {
            span {
                svg {
                    fill: #3399cc;
                }
            }
        }
    }

    .slick-arrow-right {
        right: 0;
    }

    .slick-arrow-left {
        left: 0;
    }
}

.banner-slider__item {
    overflow: hidden;
    min-height: 435px;
    padding: 60px 0;

    &_bg1 {
        background: url("../img/bg-slider1.png") no-repeat center;
        background-size: cover;
    }

    .banner-slider__item-title {
        float: right;
        padding-right: 100px;
        width: 41.66666667%;

        h1 {
            color: #333;
            font-size: 41px;
            font-weight: 700;
            line-height: 1.2;
            text-transform: uppercase;
            margin-bottom: 22px;
        }

        p {
            color: #333;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.5;
            margin-bottom: 40px;
        }
    }
}

.slick-dots {
    list-style: none;
    position: absolute;
    bottom: 20px;
    @include centerX;

    li {
        display: inline-block;
        width: 7px;
        height: 7px;
        background-color: #fff;
        border-radius: 50%;
        margin-left: 20px;

        button {
            display: none;
        }

        &:first-child {
            margin-left: 0;
        }

        &.slick-active {
            background: #333;
        }
    }
}

.banner-slider-wrap {
    margin-bottom: 45px;
    -webkit-box-shadow: 1px 43px 33px -37px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 43px 33px -37px rgba(0,0,0,0.3);
    box-shadow: 1px 43px 33px -37px rgba(0,0,0,0.3);
}

.categorys {
    padding-bottom: 20px;

    .row {
        margin: 0 -5px;
    }

    [class*="col-"] {
        padding: 0 5px;
    }
}

.category {
    display: block;
    overflow: hidden;
    height: 150px;
    border-radius: 2px;
    background-image: linear-gradient(40deg, #ffffff 0%, #ececec 100%);
    position: relative;
    margin-bottom: 10px;
    padding: 15px 20px;
    color: #333;
    @include trans;

    &__img {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 0;
    }

    &__title {
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5;
        text-transform: uppercase;
        position: relative;
        z-index: 1;
        text-align: right;
    }

    &:hover {
        text-decoration: none;
        transform: scale(1.03);
        color: #333;
    }
}

.section {
    padding-top: 10px;

    &__title {
        color: #333333;
        font-size: 22px;
        font-weight: 600;
        line-height: 1.2;
        text-transform: uppercase;
        overflow: hidden;
        text-align: center;
        margin-bottom: 40px;

        span {
            display: inline-block;
            position: relative;
            padding: 0 20px;

            &:after,
            &:before {
                @include pseudo;
                top: 50%;
                width: 735px;
                height: 1px;
                background-color: #e6e6e6;
            }

            &:before {
                right: 100%;
            }

            &:after {
                left: 100%;
            }
        }
    }
}

.product {
    height: 100%;
    border-radius: 2px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    padding: 15px 17px 17px;
    @include trans;
    margin-bottom: 30px;

    &__link {
        &:hover {
            text-decoration: none;
        }
    }

    &__title {
        color: #333;
        font-weight: 600;
        line-height: 1.4;
        padding-right: 10px;
        height: 57px;
        margin-bottom: 9px;
        overflow: hidden;
    }

    &__img {
        text-align: center;
        overflow: hidden;
        height: 227px;
        margin-bottom: 30px;

        img {
            max-width: 100%;
            position: relative;
            @include centerY;
        }
    }

    &__order {
        overflow: hidden;
    }

    &__price {
        display: inline-block;
        font-size: 0;
        float: left;
    }

    &__price-new {
        color: #3399cc;
        font-size: 16px;
        font-weight: 700;
    }

    &__price-old {
        color: #999999;
        font-size: 14px;
        font-weight: 300;
        text-decoration: line-through;
    }

    &__butn-holder {
        float: right;
        font-size: 0;
        display: inline-block;

        .butn {
            min-width: 105px;
            font-size: 14px;
        }
    }

    &:hover {
        box-shadow: 0 15px 24px 1px rgba(7, 36, 65, 0.1);
    }
}

.vobler {
    position: relative;

    &:before {
        @include pseudo;
        width: 41px;
        height: 60px;
        right: 0;
        top: -5px;
        z-index: 1;
    }

    &_new {
        &:before {
            background: url("../img/label-new.png") no-repeat;
        }
    }

    &_hit {
        &:before {
            background: url("../img/label-hit.png") no-repeat;
        }
    }

    &_sale {
        &:before {
            background: url("../img/label-sale.png") no-repeat;
        }
    }
}

.bread-crumb {
    list-style: none;
    margin-bottom: 30px;

    li {
        display: inline-block;
    }

    a {
        color: #3399cc;
        line-height: 1;
        font-size: 13px;

        &:hover {
            text-decoration: underline;
        }
    }

    li + li {
        &:before {
            display: inline-block;
            content: '/';
            margin: 0 8px;
            color: #999999;
        }
    }

    .active {
        text-decoration: none;
        cursor: default;
        color: #999999;

        &:hover {
            text-decoration: none;
        }
    }
}

.category-list-title {
    display: none;
    border: 1px solid #ebebeb;
    background-color: #fafafa;
    padding: 10px 40px 10px 20px;
    position: relative;

    .fa {
        display: inline-block;
        margin-left: 20px;
        color: $blue;
        position: absolute;
        right: 15px;
        top: 50%;
        margin-top: -5px;
        transform: rotate(0);
        @include trans;
    }

    &.open {
        .fa {
            transform: rotate(180deg);
        }
    }
}

.category-list {
    list-style: none;
    border: 1px solid #ebebeb;
    background-color: #fafafa;
    padding: 10px 0;

    a {
        display: block;
        padding: 8px 20px;
        color: #666;
        font-size: 13px;
        font-weight: 400;
        line-height: 1;
        text-decoration: none;

        &:hover {
            color: #3399cc;
            background-color: #ebebeb;
        }
    }

    .active {
        a {
            color: #3399cc;
            background-color: #ebebeb;
        }
    }

    &_blue-active {
        .active {
            a {
                color: #fff;
                background-color: #3399cc;
            }
        }

        a:hover {
            color: #fff;
            background-color: #3399cc;
        }
    }
}

.switcher-holder {
    display: inline-block;
}

.filter-wrap {
    text-align: right;
    margin-bottom: 24px;
}

.switcher-title {
    display: inline-block;
    color: #999999;
    font-size: 13px;
    line-height: 19px;
    margin: 0 11px 0 35px;
}

.switcher_filter {
    height: 31px;
    display: inline-block;
    width: auto;
    line-height: 31px;
    z-index: 9;

    p {
        padding: 0 30px 0 9px;
        line-height: 31px;
    }

    &:before {
        background: transparent;
        color: $blue;
    }
}

.switcher_filter_z-index {
    z-index: 5;
}

.switcher_filter,
.switcher_filter a,
.switcher_filter p {
    color: #333;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
}

.switcher_filter a:hover {
    color: $blue;
}

.product_with-slider {
    padding-left: 0;
    padding-right: 0;

    .product__order,
    .product__title {
        padding-left: 17px;
        padding-right: 17px;
        display: block;
    }

    img {
        transform: translate(0);
        position: static;
        display: inline-block;
    }
}

.product__img-slider-item {
    display: block;
    text-align: center;
}

.page-pagination {
    margin-bottom: 30px;

    ul {
        display: inline-block;
        list-style: none;
        border: 1px solid #ebebeb;
        border-radius: 3px;
        font-size: 0;

        li {
            display: inline-block;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            border-left: 1px solid #ebebeb;

            &:first-child {
                border-left: none;
            }
        }

        .fa {
            color: $blue;
        }

        a {
            display: block;
            color: #999;
            font-size: 14px;
            font-weight: 300;

            &:hover {
                text-decoration: none;
                color: $blue;
                background-color: #fafafa;
            }
        }
    }

    p {
        float: right;
        color: #666;
        font-size: 13px;
        font-weight: 300;
        line-height: 28px;
    }
}

.text {
    color: #666;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;

    img {
        display: inline-block;
        margin: 0 30px 30px 0;
        float: left;
        max-width: 540px;
    }

    &__title {
        color: #333333;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.4;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 20px;
    }

    p a {
        color: $blue;
    }
}
/*---=== basket ===---*/

.inbasket__item-del_main {
    display: block;
    position: relative;
    top: 0;
}

.main-basket {
    margin-bottom: 30px;

    table {
        width: 100%;
    }

    .thead {
        .tr {
            background-color: #f0f0f0;

            .th {
                color: #999;
                font-size: 13px;
                font-weight: 300!important;
                line-height: 24px;
                padding: 6px 13px;
            }
        }
    }

    .tbody {
        .tr {
            border: 1px solid #ebebeb;
            border-radius: 2px;
            background: #fff;
            position: relative;
            z-index: 1;
            // &:hover{
            //     z-index: 2;
            //     box-shadow: 0 15px 24px 1px rgba(7, 36, 65, 0.1);
            // }
        }

        .td {
            padding: 13px;

            &:first-child {
                padding: 8px 0 8px 8px;
            }
        }

        .img {
            display: table-cell;
            border: 1px solid #ebebeb;
            text-align: center;
            width: 94px;
            height: 94px;
            vertical-align: middle;

            img {
                max-width: 100%;
            }
        }
    }

    .val {
        color: #333;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
    }

    .sub {
        color: #999;
        font-size: 13px;
        font-weight: 300;
        line-height: 24px;
    }

    .price {
        color: #3399cc;
        font-size: 14px;
        font-weight: 300;
    }

    .price_bold {
        font-size: 18px;
        font-weight: 700;
    }
}

.tr-margin {
    height: 5px;
}

.jq-number {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 80px;
    height: 35px;
    border-radius: 2px;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;

    input {
        display: block;
        border: none;
        width: 100%;
        height: 33px;
        line-height: 35px;
        text-align: left;
        padding: 0 7px 0 13px;
        font-size: 16px;
        font-weight: 400;
    }
}

.jq-number__spin {
    width: 22px;
    height: 17px;
    border-radius: 2px;
    background-color: #f0f0f0;
    position: absolute;
    right: 0;
    cursor: pointer;

    &:before {
        @include pseudo;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 12px;
    }

    &.plus {
        top: 0;

        &:before {
            content: '\f106 ';
            font-family: 'FontAwesome';
            bottom: 0;
        }
    }

    &.minus {
        bottom: 0;

        &:before {
            content: '\f107 ';
            font-family: 'FontAwesome';
            top: 0;
        }
    }

    &:hover {
        &:before {
            color: $blue;
        }
    }
}

.main-basket-buttons {
    padding-top: 20px;
    margin-bottom: 60px;
}

.dropdown-box {
    padding-top: 30px;

    &__title {
        margin-bottom: 5px;
        border-radius: 2px;
        border: 1px solid #efefef;
        background-color: #fafafa;
        position: relative;
        color: #333333;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.2;
        padding: 11px 20px;
        cursor: default;

        &:before {
            @include pseudo;
            content: '\f107 ';
            font-family: 'FontAwesome';
            right: 13px;
            top: 50%;
            margin-top: -7px;
            color: $blue;
            transform: rotate(0);
            @include trans;
        }

        &.open {
            &:before {
                transform: rotate(180deg);
            }
        }
    }

    &__content {
        display: none;
        padding: 27px;
        border-radius: 2px;
        border: 1px solid #ebebeb;
        background-color: #fff;
        margin: 15px 0;

        &.open {
            display: block;
        }

        .butn {
            min-width: 240px;
        }
    }

    &__hint {
        color: #3399cc;
        font-size: 13px;
        font-weight: 400;
        line-height: 1;
        margin-bottom: 10px;
    }

    &__input {
        width: 100%;
        line-height: 1;
        border-radius: 2px;
        border: 1px solid #e6e6e6;
        background-color: #ffffff;
        padding: 11px 20px;
        color: #999;
        font-size: 14px;
        font-weight: 400;
    }

    &__single-input-row {
        width: 528px;
        margin-right: 15px;
        display: inline-block;
    }

    &__explain {
        color: #666;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.3;
        margin-bottom: 15px;
    }

    &__button-holder {
        padding-top: 10px;
        text-align: right;
    }
}

textarea.dropdown-box__input {
    min-height: 90px;
}

.jq-selectbox {
    position: relative;

    &:before {
        @include pseudo;
        content: '\f107 ';
        font-family: 'FontAwesome';
        right: 13px;
        color: #333;
        @include centerY;
    }

    select {
        display: none;
    }

    &__dropdown {
        border-radius: 2px;
        border: 1px solid #e6e6e6;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        padding: 15px 20px;
        background: #fff;

        ul {
            list-style: none;
            max-height: 300px;
            overflow-y: scroll;

            li {
                margin-bottom: 15px;
                cursor: default;

                &:hover {
                    color: $blue;
                }
            }
        }
    }
}
/*---== card ===---*/

.product-slider-wrap {
    float: left;
    width: 351px;
    height: 351px;
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}

.product-slider {
    max-width: 100%;
    max-height: 100%;

    &__img {
        width: 351px;
        height: 351px;
        max-width: 100%;
        max-height: 100%;
        border-radius: 2px;
        border: 1px solid #efefef;
        background-color: #ffffff;
        text-align: center;
        padding: 20px;

        img {
            display: inline-block;
            max-width: 100%;
            position: relative;
            @include centerY;
        }
    }
}

.product-slider-nav-wrap {
    max-width: 95px;
    display: inline-block;
    vertical-align: top;
}

.product-slider-nav {
    &__img {
        width: 94px;
        height: 94px;
        border-radius: 2px;
        border: 1px solid #efefef;
        background-color: #ffffff;
        padding: 10px;

        img {
            display: inline-block;
            max-width: 100%;
        }
    }
}

.green {
    color: #339900;
}

.red {
    color: red;
}

.product-descripion {
    &__id {
        color: #333333;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.4;
        margin-bottom: 3px;
    }

    &__order {
        padding-top: 25px;
        margin-bottom: 50px;
    }

    &__price {
        float: left;
    }

    &__old-price {
        color: #333;
        font-size: 14px;
        font-weight: 300;
        line-height: 2;
        text-decoration: line-through;
    }

    &__current-price {
        color: #3399cc;
        font-size: 27px;
        font-weight: 600;
        line-height: 30px;
    }

    .butn {
        margin-top: 19px;
        float: right;
    }

    &__parametrs {
        p {
            margin-bottom: 25px;
        }
    }
}

.shadow-box {
    box-shadow: 0 15px 24px 1px rgba(7, 36, 65, 0.1);
    border-radius: 1px;
    background-color: #fff;
    padding: 30px 40px;
}

.shadow-box.text {
    margin-bottom: 25px;

    ul {
        list-style: none;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }

        a {
            color: #3399cc;
            font-size: 13px;
            font-weight: 400;
            line-height: 27px;
        }
    }
}

.shadow-box_form {
    .butn {
        min-width: 240px;
    }

    &__item-left {
        padding-right: 30px;
        position: relative;

        p {
            margin-bottom: 30px;
            line-height: 1.8;
        }

        &:before {
            @include pseudo;
            top: 0;
            bottom: 0;
            right: 0;
            width: 1px;
            background-color: #e6e6e6;
        }
    }

    &__item-right {
        padding-left: 30px;

        p {
            margin-bottom: 30px;
            line-height: 1.8;
        }
    }
}

.input-row {
    margin-bottom: 15px;
}

.foget-pass {
    display: inline-block;
    color: #3399cc;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    text-decoration: underline;
}

.input-row_margin-bottom-xl {
    margin-bottom: 48px;
}

.shadow-box_form__item-left_no-line {
    &:before {
        display: none;
    }
}

.jq-checkbox,
.jq-radio {
    width: 18px;
    height: 18px;
    border: 1px solid #e6e6e6;
    background-color: #f0f0f0;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin: 0 15px;
    transform: translateY(4px);

    input {
        display: none;
    }

    &.checked {
        &:before {
            @include pseudo;
            border-radius: 50%;
            width: 9px;
            height: 9px;
            background-color: #3399cc;
            @include center;
        }
    }
}

.input-row-radio {
    line-height: 17px;

    .dropdown-box__hint {
        display: inline-block;
    }
}

.label-radio {
    color: #666;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
}

.c-blue {
    color: $blue;
}

.input-row-radio-mb {
    margin-bottom: 15px;
}

.testemonial {
    border-radius: 2px;
    border: 1px solid #ebebeb;
    background-color: #fff;
    color: #666;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    padding: 20px;
    margin-bottom: 17px;

    &__text {
        margin-bottom: 10px;
    }

    &__autor {
        display: inline-block;
        padding-right: 15px;
        border-right: 1px solid #ebebeb;
        color: #3399cc;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
    }

    &__date {
        display: inline-block;
        padding-left: 15px;
        position: relative;
        color: #999;
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;

        &:before {
            display: inline-block;
            content: '\f017';
            font-family: 'FontAwesome';
            margin-right: 10px;
        }
    }
}

.blog-item {
    margin-bottom: 30px;

    &__img {
        text-align: center;

        img {
            max-width: 100%;
        }
    }

    &__content {
        padding-top: 16px;
    }

    &__title {
        margin-bottom: 10px;

        a {
            color: #333;
            font-size: 18px;
            font-weight: 700;
            line-height: 1.3;

            &:hover {
                color: $blue;
                text-decoration: none;
            }
        }
    }

    &__date {
        position: relative;
        color: #999;
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 10px;

        &:before {
            display: inline-block;
            content: '\f017';
            font-family: 'FontAwesome';
            margin-right: 10px;
        }
    }

    &__text {
        color: #666;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.4;
        max-height: 75px;
        overflow: hidden;
    }
}

.article-date {
    position: relative;
    color: #999;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 30px;
    text-align: center;

    &:before {
        display: inline-block;
        content: '\f017';
        font-family: 'FontAwesome';
        margin-right: 10px;
    }
}
