footer {
    border: 1px solid #efefef;
    background-color: #fafafa;
    padding: 50px 0;

}
.phone_footer{
    text-align: right;
    margin-bottom: 27px;
    a{
    color: #999;
    font-size: 14px;
    }
}
.socials_footer{
text-align: right;
}
.copyright-wrap{
    // position: relative;
    padding-bottom: 10px;
}
.footer {
    &__copyright {
        color: #999;
        font-size: 13px;
        line-height: 1.2;
        position: absolute;
        left: 15px;
        bottom: 0;
    }
}

.footer__nav {
    list-style: none;
    a {
        color: #999999;
        font-size: 13px;
        font-weight: 400;
        line-height: 1;
        &:hover{
            text-decoration: none;
            color: #3399cc;
        }
    }
}

.modal-content .contacts-form-wrapper {
    position: relative;
}

.close-x {
    top: 15px;
    right: 15px;
    position: absolute;
    width: 16px;
    height: 16px;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }

    &:after,
    &:before {
        content: '';
        position: absolute;
        height: 2px;
        width: 22px;
        top: 7px;
        left: -3px;
        background: #fff;
    }

    &:before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    &:after {
        -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        transform: rotate(135deg);
    }
}
