/*--== header ==--*/
.line {
    border-top: 3px solid #222;

    .container {
        position: relative;

        &:before {
            @include pseudo;
            width: 160px;
            height: 3px;
            background-color: #3399cc;
            right: 15px;
            bottom: 100%;
        }
    }
}

.header__top {
    padding: 23px 0 0;
}

.logo {
    img {
        max-width: 100%;
    }
}

.phone {
    list-style: none;

    li {
        display: inline-block;

        &:first-child {
            a {
                &:before {
                    content: '\f095';
                    position: absolute;
                    display: block;
                    left: 0;
                    font-family: 'FontAwesome';
                    font-size: 20px;
                    color: #dadada;
                }
            }
        }
    }

    a {
        color: #333;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 400;
        line-height: 1;
        position: relative;
        display: inline-block;
        padding-left: 20px;
        margin-bottom: 10px;
    }

    &_2col {
        overflow: hidden;

        li {
            width: 50%;
            float: left;
        }
    }
}

.socials {
    p {
        color: #333;
        font-size: 13px;
        font-weight: 400;
        line-height: 1;
        margin-bottom: 5px;
    }

    a {
        display: inline-block;
        width: 27px;
        height: 27px;
        background-color: #dadada;
        border-radius: 50%;
        margin-right: 8px;
        position: relative;
        @include trans;

        &:last-child {
            margin-right: 0;
        }

        &:before {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            font-family: 'FontAwesome';
            font-size: 16px;
        }

        &.fb {
            &:before {
                content: "\f09a ";
            }

            &:hover {
                background-color: #4867aa;
            }
        }

        &.tw {
            &:before {
                content: "\f099 ";
            }

            &:hover {
                background-color: #5cb7e6;
            }
        }

        &.vk {
            &:before {
                content: "\f189 ";
            }

            &:hover {
                background-color: #4676ae;
            }
        }

        &.yu {
            &:before {
                content: "\f167 ";
            }

            &:hover {
                background-color: #ff0000;
            }
        }
    }
}

.switcher-login-wrapper {
    text-align: right;
}

.switcher {
    width: 76px;
    height: 22px;
    border-radius: 2px;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    position: relative;
    border-radius: 2px;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 5px;
    z-index: 999;
    text-align: center;

    &:before {
        content: '\f107 ';
        position: absolute;
        display: block;
        font-family: 'FontAwesome';
        width: 21px;
        height: 20px;
        border-radius: 2px;
        background-color: #f0f0f0;
        color: #333;
        text-align: center;
        right: 0;
        top: 0;
    }

    a,
    p {
        color: #3399cc;
        font-size: 13px;
        font-weight: 400;
        line-height: 22px;
        text-transform: uppercase;
        padding: 0 22px 0 9px;
    }

    &__dropdown {
        padding: 5px 0;
        display: none;
        top: 100%;
        left: 0;
        right: 0;
        position: absolute;
        list-style: none;
        background-color: #f0f0f0;
        border-radius: 1px;
    }
}

.login {
    position: relative;
    padding-left: 25px;
    display: inline-block;

    &:before {
        content: '\f007';
        position: absolute;
        font-family: 'FontAwesome';
        color: #dadada;
        left: 0;
        font-size: 16px;
    }

    a {
        display: inline-block;
        color: #333;
        font-size: 13px;
        font-weight: 400;
        line-height: 1;
    }

    a + a {
        &:before {
            content: '/';
            display: inline-block;
            margin: 0 5px;
        }
    }
}

.header__bottom {
    padding-top: 10px;
}

.search-box {
    float: left;
    width: calc(100% - 190px);
    position: relative;

    input {
        width: 100%; // height: 35px;
        border-radius: 2px;
        border: 1px solid #e6e6e6;
        background-color: #ffffff;
        padding: 8px 30px 9px 20px;
    }

    button {
        width: 47px;
        height: 35px;
        border: 0;
        border-radius: 2px;
        background-color: #f0f0f0;
        position: absolute;
        top: 0;
        right: 0;

        &:before {
            content: '\f002 ';
            display: block;
            position: absolute;
            @include center;
            font-family: 'FontAwesome';
            color: #333;
            border-radius: 0 2px 2px 0;
        }
    }
}

.basket {
    display: inline-block;
    width: 160px;
    height: 51px;
    border-radius: 2px;
    background-color: #333;
    margin-left: 30px;
    padding: 3px 10px;
    position: relative;
    cursor: default;

    &__top {
        color: #fff;
        font-size: 13px;
        font-weight: 400;
        line-height: 19px;
        text-transform: uppercase;
        padding-left: 30px;
        position: relative;

        &:before {
            content: '\f291 ';
            display: block;
            position: absolute;
            @include centerY;
            left: 0;
            font-family: 'FontAwesome';
        }
    }

    &__bottom {
        color: #3399cc;
        font-size: 12px;
        line-height: 1;
        padding-top: 6px;
        white-space: nowrap;
    }

    &:hover {
        text-decoration: none;
    }
}

.inbasket {
    display: none;
    position: absolute;
    z-index: 1000;
    width: 445px;
    right: 0;
    top: 100%;
    box-shadow: 0 15px 27px 3px rgba(7, 36, 65, 0.1);
    background-color: #fafafa;
    padding: 10px 20px 20px;

    &__item-del {
        position: absolute;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: #cc3333;
        top: 10px;
        right: 0;

        &:after,
        &:before {
            content: '';
            position: absolute;
            height: 2px;
            width: 6px;
            top: 6px;
            left: 4px;
            background: #fff;
        }

        &:before {
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        &:after {
            -webkit-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
            transform: rotate(135deg);
        }
    }

    &__item {
        padding: 10px 0 10px 77px;
        border-bottom: 1px solid #dddddd;
        position: relative;
    }

    &__img {
        position: absolute;
        left: 0;
        top: 10px;
        width: 60px;
        height: 60px;

        img {
            max-width: 100%;
        }
    }

    &__title {
        display: inline-block;
        width: 170px;
        height: 60px;
        color: #333;
        font-size: 13px;
        font-weight: 600;
        line-height: 18px;
        display: table-cell;
        vertical-align: middle;
        overflow: hidden;
        padding-right: 5px;
    }

    &__price,
    &__quantity {
        display: table-cell;
        height: 60px;
        vertical-align: middle;
        overflow: hidden;
    }

    &__quantity {
        color: #999;
        font-size: 12px;
        line-height: 1;
    }

    &__price {
        padding-left: 5px;
        text-align: right;
        height: 13px;
        color: #3399cc;
        font-size: 14px;
        font-weight: 700;
        line-height: 1;
    }
}

.inbasket__amount {
    margin-top: 10px;
    border: 1px solid #ddd;
    background-color: #fff;

    &-item {
        padding: 0 13px;
        overflow: hidden;
        border-bottom: 1px solid #ddd;

        &:last-child {
            border-bottom: none;
        }

        .text {
            float: left;
            color: #999;
            font-size: 12px;
            font-weight: 400;
            line-height: 29px;
        }

        .text_font-size {
            font-size: 14px;
            line-height: 34px;
        }

        .value {
            float: right;
            color: #3399cc;
            font-size: 14px;
            font-weight: 300;
            line-height: 29px;
        }

        .value_font-size {
            font-size: 18px;
            line-height: 34px;
        }
    }
}

.inbasket__amount-price-final {
    .text {
        font-weight: 700;
        text-transform: uppercase;
        color: #333;
    }

    .value {
        font-weight: 700;
    }
}

.basket:hover {
    .inbasket {
        display: block;
    }
}

.header__nav {
    border: 1px solid #efefef;
    background-color: #fafafa;
    margin-bottom: 18px;
}

.inbasket__buttons {
    overflow: hidden;
    padding-top: 10px;

    .butn.butn_grey {
        float: left;
    }

    .butn {
        float: right;
    }
}

#nav {
    list-style: none;
    display: block;
    margin-bottom: 0;
    text-align: center;

    li {
        display: inline-block;
        margin-left: 66px;

        &:first-child {
            margin-left: 0;
        }
    }

    a {
        display: block;
        font-size: 14px;
        font-weight: 400;
        line-height: 45px;
        text-transform: uppercase;
        color: #000000;
        @include trans;

        &.current,
        &:focus,
        &:hover {
            text-decoration: none;
            color: #3399cc;
        }
    }
}

#hamburger {
    display: none;
    float: left;
    width: 30px;
    height: 30px;
    position: relative;
    margin: 7px 30px 0 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;

    span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: $blue;
        border-radius: 3px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
    }
}

#hamburger span:nth-child(1) {
    top: 0;
}

#hamburger span:nth-child(2),
#hamburger span:nth-child(3) {
    top: 9px;
}

#hamburger span:nth-child(4) {
    top: 18px;
}

#hamburger.open span:nth-child(1) {
    top: 9px;
    width: 0;
    left: 50%;
}

#hamburger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#hamburger.open span:nth-child(4) {
    top: 9px;
    width: 0;
    left: 50%;
}
