/*MEDIA QUERY*/
@media (max-width: 1199px) {
    .header__socials {
        display: none;
    }
.product-slider{
    // float: none;
}
    .banner-slider__item .banner-slider__item-title {
        width: auto;
        padding-left: 50px;
        padding-right: 50px;
        text-align: center;
    }
    .product-slider-nav{
        // width: auto;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {}
@media (min-width: 690px) and (max-width: 1024px) {}
@media (min-width: 1024px) {}
@media (min-width: 992px) {
    .category-list {
        display: block!important;
    }
}
@media (max-width: 991px) {
    .shadow-box{
        margin-top: 30px;
    }
    .categorys_mt-on-mob {
        margin-top: 30px;
    }

    .category-list-title {
        display: block;
    }

    .category-list {
        display: none;
    }

    footer {
        .row-eq-height {
            display: block;
            position: relative;
            padding-bottom: 35px;
        }

        .copyright-wrap {
            position: static;
        }
    }

    .footer__logo {
        text-align: center;
        margin-bottom: 15px;
    }

    .footer__copyright {
        left: 0;
        right: 0;
        text-align: center;
    }

    .text {
        img {
            display: block;
            max-width: 100%;
            margin: 0 auto 30px;
            float: none;
        }
    }
    .dropdown-box__single-input-row{
        width: 100%;

    }
    .dropdown-box__input{
        margin-bottom: 20px;
    }
    .sliders-wrap{
        text-align: center;
        margin-bottom: 20px;
    }
    .product-slider-wrap{
        float: none;
    }
    .input-row {
        margin-bottom: 0;
    }
    .foget-pass{
        margin-bottom: 15px;
    }
    .shadow-box_form{
        .butn{
            margin-bottom: 15px;

        }
    }
    .shadow-box_form__item-left{
        padding-right: 15px;
        margin-bottom: 30px;
        &:before{
            display: none;
        }
    }
    .shadow-box_form__item-right{
        padding-left: 15px;
    }
}
@media (min-width: 768px) {
    #nav {
        display: block!important;
    }
}
@media (max-width: 767px) {
    .header__nav {
        .container {
            position: relative;
        }
    }

    #nav {
        display: none;
        position: absolute;
        z-index: 1000;
        background-color: #fafafa;
        right: 14px;
        left: 14px;
        top: 0;

        li {
            display: block;
            margin-left: 0;
        }
    }

    .search-box {
        width: calc(100% - 126px);
    }

    .header__top {
        padding: 10px 0 0;
    }

    #hamburger {
        display: inline-block;
    }

    .search-box {
        display: inline-block;
        float: none;
    }

    .logo {
        text-align: center;
        margin-bottom: 20px;
    }

    .basket__top:before {
        font-size: 30px;
        color: $blue;
    }

    .basket {
        width: 35px;
        height: 35px;
        padding: 0;
        float: right;
        background: transparent;
    }

    .basket__top {
        padding-left: 36px;
        overflow: hidden;
    }

    .basket__bottom {
        display: none;
    }

    .header__bottom {
        padding-bottom: 15px;
    }

    .footer__nav {
        text-align: center;
        margin-bottom: 15px;
    }

    .phone_footer {
        position: relative;
        transform: translateX(-10px);

        li {
            display: block;
            text-align: center;
        }
    }

    .socials_footer {
        text-align: center;
    }

    .page-pagination {
        text-align: center;

        p,
        ul {
            float: none;
        }

        ul {
            margin-bottom: 15px;
        }
    }
}
@media (max-width: 699px) {
    .main-basket {
        table {
            display: block;
        }

        .thead {
            display: none;
        }

        .tr {
            display: block;
            padding-left: 114px;
        }

        .td {
            display: block;
            padding: 0 13px !important;

            &:before {
                content: attr(data-name);
                font-size: 14px;
                margin-top: 10px;
                margin-bottom: 3px;
                display: block;
                font-weight: bold;
            }
        }

        .tbody {
            display: block;
        }

        .tbody .td:first-child {
            left: 0;
            top: 14px;
            position: absolute;

            &:before {
                display: none;
            }
        }

        .tbody .td:last-child {
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    .main-basket .tbody .tr {
        padding-bottom: 5px;
    }
    .dropdown-box__content{
        .main-basket {
            table {
                display: block;
            }

            .thead {
                display: none;
            }

            .tr {
                display: block;
                padding-left: 0;
            }

            .td {
                display: block;
                padding: 0 13px !important;

                &:before {
                    content: attr(data-name);
                    font-size: 14px;
                    margin-top: 10px;
                    margin-bottom: 3px;
                    display: block;
                    font-weight: bold;
                }
            }

            .tbody {
                display: block;
            }

            .tbody .td:first-child {
                left: 0;
                top: 14px;
                position: static;

                &:before {
                    display: block;
                }
            }

            .tbody .td:last-child {
                position: static;

            }
        }

        .main-basket .tbody .tr {
            padding-bottom: 5px;
        }


    }
}
@media (max-width: 600px) {
    .shadow-box_form__submit-wrap{
        .pull-left,.pull-right{
            float: none!important;
        }
    }
    .input-row-radio{
        margin-bottom: 15px;
    }
}
@media (max-width: 560px) {
    .header__top .phone_2col {
        li {
            width: 100%;
            display: none;

            &:nth-child(1),
            &:nth-child(2) {
                display: inline-block;
            }
        }
    }

    .header__top {
        .row {
            [class*='col-'] {
                &:nth-child(2) {
                    width: 50%;
                }

                &:nth-child(4) {
                    width: 50%;
                }
            }
        }
    }

    .banner-slider__item .banner-slider__item-title h1 {
        font-size: 30px;
    }

    .products {
        [class*="col-"] {
            width: 100%;
        }
    }
}

@media (max-width: 500px) {
    .inbasket {
        right: -15px;
        max-width: 320px;
        padding: 10px 10px 20px;
    }

    .categorys {
        [class*='col-'] {
            width: 100%;
            float: none;
        }
    }

    .inbasket__buttons {
        text-align: center;

        .butn {
            float: none!important;
        }

        .butn_grey {
            margin-bottom: 15px;
        }
    }
}

@media (max-width: 484px) {
    .product-slider-wrap{
        margin-bottom: 20px;
        margin-right: 0;
    }
    .product-slider-nav-wrap{
        max-width: 100%;
    }
    .product-slider__item{
        text-align: center;
    }
    .product-slider-nav__img{
        margin-left: auto;
        margin-right: auto;
    }
    // .section__title span:after, .section__title span:before{
    //     display: none;
    // }
    .section__title{
        font-size: 18px;
    }
}
@media (max-width: 466px) {
    footer {
        [class*='col-'] {
            width: 100%;
        }
    }
}
@media (max-width: 409px) {
    .inbasket__amount-item {
        .text.text_font-size {
            float: none;
            text-align: center;
        }

        .value.value_font-size {
            float: none;
            text-align: center;
        }
    }

    .main-basket-buttons {
        .butn{
            display: block;

        }
        .butn.pull-right {
            margin-top: 15px;
            float: none!important;
        }
    }
}
@media (max-width: 391px) {
    .switcher-login-wrapper {
        padding-left: 0;
    }

    .switcher_filter {
        width: auto!important;
    }

    .header__top {
        .phone a {
            font-size: 14px;
            padding-left: 0;
        }

        .phone li:first-child a:before {
            display: none;
        }
    }

    .header__top {
        .row {
            [class*='col-'] {
                &:nth-child(2) {
                    padding-right: 0;
                }
            }
        }
    }

    .switcher {
        width: 70px;
    }

    .login a {
        font-size: 12px;
    }

    #hamburger {
        margin-right: 15px;
    }

    .basket {
        margin-left: 15px;
    }

    .search-box {
        width: calc(100% - 96px);
    }
    .shadow-box_form, .dropdown-box__content{
        .butn{
            min-width: initial;
            display: block;
            float: none!important;

        }
        .pull-left,.pull-right{
            float: none!important;
        }
    }
    .shadow-box{
        padding: 30px 20px;
    }
    .dropdown-box__content{
        padding: 15px 10px;
    }
}
@media (max-width: 350px) {
    .main-basket .tbody {
        .tr {
            padding-left: 0;
        }

        .td:first-child {
            position: relative;
            top: 0;
            margin: 10px 0;
        }
    }
}
