@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:600,700|Fira+Sans:300,400,500,700,900&subset=cyrillic,cyrillic-ext');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	&:active, &:focus{
		outline: none!important;
		text-decoration: none!important;
	}
}

html{
	height: 100%;
}
body{
	min-height: 100%;
	background: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
}

.clearfix:before, .clearfix:after{
	content: ' ';
	display: table;
	clear: both;
}

@mixin pseudo($display: block, $pos: absolute, $content: ''){
	content: $content;
	display: $display;
	position: $pos;
}
@mixin fs($sizeValue: 1.6){
	font-size: ($sizeValue) + px;
	font-size: ($sizeValue/10) + rem;
}
@mixin trans($type: all .3s ease-in-out ){
	transition: $type;
}
@mixin center(){
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
@mixin centerY(){
	top: 50%;
	transform: translateY(-50%);
}
@mixin centerX(){
	left: 50%;
	transform: translateX(-50%);
}


h1,h2,h3,h4,h5,h6,ul,ol{
	margin: 0;
	padding: 0;
}

$blue: #3399cc;

.row-eq-height {
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
}



// @import 'sprite';

@import 'buttons';
@import 'header';
@import 'content';
@import 'footer';
@import 'media';
